[2020-10-13 22:04] james-emerton opened #281 "OAuth2Client._refresh_token() error handling"
**Describe the bug**

When a token is refreshed via `OAuth2Client._refresh_token()` the response from the token endpoint is not checked for errors.

**Error Stacks**

[code]

**To Reproduce**

 1. Provide an invalid `refresh_token` and set `expires_at` in the past to force a refresh.
 2. Make a request and see that the `update_token` function is called with invalid token data.

**Expected behavior

[2020-10-14 01:08] lepture commented on #280
I may know the problem now. There is a refactor on Json Web Key Set.

cc @dani try to change `load_jwks` with:

[code]

[2020-10-14 07:20] dani commented on #280
Mmmmh, I'm afraid my very limited python-foo will ask for a bit more help ;-)
At which point in the load_jwks function should I add the JsonWebKey.import_key_set call ?

[2020-10-14 07:40] lepture commented on #280
@dani @juergen-kaiser-by can you try with the code in `maintain-0.15` branch?

[2020-10-14 07:55] lepture commented on #272
Do you mean:

[code]

You can just put extra parameters in the `.authorize_redirect` function.

[2020-10-14 07:55] #272 closed

[2020-10-14 08:30] dani commented on #280
Updating authlib to the latest from maintain-0.15 branch fixes it for me. Synapse can auth against OIDC again ! :-)

[2020-10-14 13:06] #280 closed

[2020-10-15 03:04] stefanor opened #282 "Please include documentation images in repo"
Currently the documentation refers to many mages hosted on `https://user-images.githubusercontent.com/`. Please include these in the documentation source, so that the docs can be built stand-alone.

I'm carrying the docs in the Debian authlib package. Debian [tries to build self-contained documentation](https://lintian.debian.org/tags/privacy-breach-generic.html), that can be accessed offline and

[2020-10-15 04:36] lepture commented on #281
What is the response from token endpoint when refreshing the token? According to our code:

[code]

If the returned token response is an error, it should raise the error inside refresh token method.

[2020-10-15 11:12] kerrermanisNL commented on #258
Awesome, thanks guys :+1:

[2020-10-15 13:28] btel opened #283 "authlib 0.15.1 does not send authorizaton header"
**Describe the bug**

authlib 0.15.1 does not seem to send authentication token with the request

**Error Stacks**

with authlib 0.15.1

[code]

with authlib 0.14.3 it's ok (the code was not changed otherwise)

[code]

**To Reproduce**

this is a piece of code that triggered this issue:

[code]

**Expected behavior**

authentication token is sent and the response from api.github.com/user returns w

[2020-10-15 14:56] firesock commented on #283
Another reproduction:

[code]

I've intercepted the call to `httpx`'s `AsyncClient` and it appears that we're not passing an `auth` kwarg when `token` is provided. The problem appears to be caused by the mismatch between the `auth` arg check here https://github.com/lepture/authlib/blob/master/authlib/integrations/httpx_client/oauth2_client.py#L85 and the default argument in the method (`None` inst

[2020-10-16 00:33] lepture commented on #283
Please lock your httpx to 0.14.x. httpx has breaking change again.

[2020-10-16 00:35] lepture commented on #283
It is caused by 0.16.0:

[2020-10-16 07:02] btel commented on #283
Thanks @lepture , I tested the code in the description with httpx==0.14.1 with the same results (no auth header for authlib 0.15.1).

The test by @firesock do not pass either when I install authlib 0.15.1 and httpx 0.14.1.

My environment:

[code]

results of the test:

[code]

[2020-10-16 07:41] yan12125 opened #284 "Some tests fail if all tests are run together"
**Describe the bug**

Some tests in `tests/core/test_oauth2/test_rfc8414.py` and `tests/core/test_oidc/test_discovery.py` fail if they are run with Django or Flask tests.

**Error Stacks**

<details>
<summary>pytest logs</summary>

[code]

</details>

**To Reproduce**

1. Clone 0.15.1
2. python -m pytest

**Expected behavior**

All tests pass

**Environment:**

 - OS: Arch Linux
 - Python Version:

[2020-10-16 07:56] lepture commented on #284
I think https://github.com/lepture/authlib/pull/279 has fixed the problem, please test with master code.

[2020-10-16 09:18] firesock commented on #283
Thanks for following up @lepture. Is this correct though? httpx fixed their issue with casing in https://github.com/encode/httpx/pull/1351 which was released with 0.16.1, which works with the work around for me.

When I followed up more by examining the request going out, the Authorization header wasn't there at all, not even in the wrong case without the work around. @btel's original trace shows

[2020-10-16 13:28] lepture commented on #283
@btel @firesock can you try with the latest maintain-0.15 code? I think it fixed the problem.

[2020-10-16 13:32] lepture commented on #284
@yan12125 if you can confirm that fixed the problem, I'll cherry pick the PR into maintain-0.15 code, then release a 0.15.2 version.

[2020-10-16 15:09] firesock commented on #283
Thanks @lepture, that branch fixes it!

[2020-10-16 15:37] btel commented on #283
the fix in maintain-0.15 branch also fixes my code. Thanks for following up and fixing it @lepture @firesock

[2020-10-16 22:00] dragonpaw commented on #245
Sure, how can I help?

[2020-10-17 05:33] yan12125 commented on #284
Thanks for the pointer. On master (84ba75ab04606bbf5d7cc783b9b09f5b00291d9c), tests fail with different errors:

[code]

[2020-10-18 02:50] dmalan opened #285 "Allowing multiple authentication flows in parallel (e.g., in different tabs)"
**Is your feature request related to a problem? Please describe.**

We currently use `authlib.integrations.flask_client` to authenticate users against Auth0, where they can log in via different connection types (e.g., GitHub, Google, etc.). But users sometimes initiate multiple authentication flows in parallel, as by command- or control-clicking multiple links, each of which opens in a new tab. Ev

[2020-10-18 06:23] lepture commented on #284
1. those error happens because you have set `AUTHLIB_INSECURE_TRANSPORT` environment variable.
2. because `test_rfc8414` request not setting `AUTHLIB_INSECURE_TRANSPORT`
3. while tests in flask and django oauth provider requires `AUTHLIB_INSECURE_TRANSPORT`

So, it is impossible to test them together.

[2020-10-18 06:23] #284 closed

[2020-10-18 06:25] lepture commented on #281
If the returned response is not in the standard format, it is correct for you to add `refresh_token_response` hook.

[2020-10-18 06:25] #281 closed

[2020-10-18 06:40] lepture commented on #283
0.15.2 released.

[2020-10-18 06:40] #283 closed

[2020-10-18 15:46] yan12125 commented on #284
Thanks for the explanation! I seperate those tests in the latest Arch Linux package.

[2020-10-18 15:52] eli-schwartz commented on #284
I don't see any reason why this should be a problem... just use https://docs.pytest.org/en/latest/monkeypatch.html to set the env var only in the tests that need it.

[2020-10-20 15:56] yan12125 commented on #284
Thanks for the hint. I tried a different approach at #286 as Django and Flask tests appear to use unittest infrastructure instead of the pytest one

[2020-10-28 06:05] lepture commented on #285
Do you want to keep each tab logged in as different user? For instance:

Tab 1: logged in with Google as User A.
Tab 2: logged in with Twitter as User B.

Do you mean this? This is not possible.

If you just want to avoid `MismatchingStateError`, you can check if a user is logged in already in the authorization callback:

[code]

[2020-10-28 06:27] dmalan commented on #285
Not quite logged in as a different user in each tab, but authenticated independently in each tab. For instance, if we have links like

[code]

each of which leads to a protected resource that requires authentication, it's not uncommon for users to open all three tabs at once, as by command- or control-clicking on all three, to work their way through them one at a time. But we want them to have to

[2020-10-28 07:32] lepture commented on #285
Here is my thoughts:

1. In tab 1, user is logged in with Google, you mark the end user is logged in as User A.
2. In tab 2, user is logged in with Twitter, since you have marked the end user is logged in, before you `authorize_access_token`, you know this browser is already authenticated, you just ignore this callback, don't call `authorize_access_token`, instead, you make a `302` redirection to

[2020-10-28 07:39] dmalan commented on #285
Thanks for the follow-up! Afraid this approach doesn't satisfy our requirement that the user has to authenticate in both tabs, so that they have to agree to certain terms before viewing each resource. And it can still yield an `MismatchingStateError` exception if the user:

1. Opens https://www.example.com/foo in tab 1 but doesn't yet log in.
1. Opens https://www.example.com/bar in tab 2 but doesn

[2020-10-28 07:47] lepture commented on #285
How could that be? When opening tab 2, why should `session["_name_authlib_state_"]` be changed? Is there a sample code?

[2020-10-28 08:04] dmalan commented on #285
Sure, here's a sample app, https://github.com/cs50/id/. Runnable with:

[code]

Reproducible with:

1. Visit http://localhost:5000/ in tab 1. Click **login** but don't log into idP.
1. Visit http://localhost:5000/ in tab 2. Click **login** but don't log into idP.
1. Return to tab 1. Finish logging in.

That'll yield an HTTP 500 with a `MismatchingStateError`:

[code]

The reason seems to be becaus

[2020-10-28 14:19] lepture commented on #285
Oh, got it. When using `@login_required` on `/foo` and `/bar`, that will happen:

1. visit `/foo` will redirect to `/login`
2. visit `/bar` will redirect to `/login`
3. `/login` will redirect with `oauth.authorize_redirect`

But usually, `/login` will be a normal page.

[2020-10-29 20:33] JamieQeexo opened #288 "Missing required parameter: response_type"
**Describe the bug**

Hi, we are seeing this intermittent Auth0 issue from one of our flask applications, "Missing required parameter: response_type". We do not send `response_type` via neither `metadata` nor `kwargs`. Therefore, it should just be supplied `'code'`. We are wondering if the root of this issue could be on our end.

**Error Logs**

[code]

**Expected behavior**

`response_type` shoul

[2020-10-30 01:14] lepture commented on #288
@JamieQeexo according to our code: https://github.com/lepture/authlib/blob/master/authlib/oauth2/client.py#L136

You can see, if there is no defined `response_type`, the default value is `code`.

[2020-10-31 06:47] #288 closed

[2020-11-03 13:36] yadkee opened #289 "Ability to configure the authorization and refresh grant type for uncompliant clients [AzureDevops]"
**Is your feature request related to a problem? Please describe.**

When using authlib with flask to create an [azure devops](https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-6.1) client, we are missing the ability to pass custom arguments to `authlib.oauth2.rfc6749.parameters.prepare_token_request`, both on authorize and on refresh.
Microsoft Azure DevOps requires a

[2020-11-03 19:34] yadkee commented on #289
Updating to the last version fixed the issue for us. In `0.15.2` you can pass kwargs to `authorize_access_token` and they are included in the final body. The only weirder case was the `redirect_uri` where the only way to pass it to the body was to set it in `access_token_params`

Regarding refreshing, the new `refresh_token_request` did the trick for us.
[code]

While updating the version, we had

[2020-11-03 19:34] #289 closed

[2020-11-04 13:37] lepture commented on #285
This should be fixed by https://github.com/lepture/authlib/commit/2af1b9f2c81d5cb847491e96cf762f69215fcf2d

@dmalan can you verify with the latest master code?

[2020-11-09 13:14] alanb-sony opened #290 "Specify cyptography version"
Due to the use of `cryptography.hazmat.primitives.asymmetric.ed25519` which seems to have been added in version 2.6: https://cryptography.io/en/latest/hazmat/primitives/asymmetric/ed25519.html should the requirement on cryptography specify a minimum version?

older versions of cryptography result in:
[code]

Note this was found when running https://github.com/AMWA-TV/nmos-testing/ on a Mac with Co

[2020-11-09 14:51] lepture commented on #290
@alanb-sony cryptography 2.6 was released in Feb, 2019, which is very long time ago. I think this is not an issue for ed25519. But I will add a minimal version in `setup.py` next time.

[2020-11-13 09:34] nsklikas opened #291 "Incorrect authorization error responses"
**Describe the bug**
All the authorization error response in the code flow have status `400` and don't contain the `state` parameter.
According to the spec https://tools.ietf.org/html/rfc6749#section-4.1.2.1:
The `state` parameter is mandatory.
In addition the provider should only return 400 if the redirect URI is unknown, e.g. the `client_id` is unknown or the `redirect_uri` doesn't match the `cl

[2020-11-13 10:02] lepture commented on #291
@nsklikas I don't understand your problem

The state parameter is mandatory

If the client doesn't provide a `state`, the provider will not return a state.

[2020-11-13 10:02] #291 closed

[2020-11-13 15:38] azmeuk opened #292 "OpenID Connect session management draft implementation"
I suggest implementing the [OpenID Connect session management draft](https://openid.net/specs/openid-connect-session-1_0.html) in authlib, even if it is still a draft. There has been 30 iterations, so it feels quite stable now. Authlib could warn the user with a message like: *this is a draft, API may brutally change to follow the draft iterations, use it at your own risks*.

That would mean provi

[2020-11-15 09:01] lepture commented on #290
Added in setup.py

[2020-11-15 09:01] #290 closed

[2020-11-15 09:06] lepture commented on #292
Hi @azmeuk

I would like to put a delay on this ticket. I'm working on to make an Authlib 1.0 release. This can be something later, maybe 1.2 or 1.3.

[2020-11-16 23:21] hashcutdev opened #294 "Twitter OAuth Not working due to missing 'request_token' parameter"
**Describe the bug**

```oauth.twitter.authorize_access_token(request)``` is normally called in the callback function. The ```request``` object usually has a request_token parameter in its query parameters. However, Twitter's 3-legged OAuth process, described here:
https://developer.twitter.com/en/docs/authentication/oauth-1-0a/obtaining-user-access-tokens

Does not return a request_token paramete

[2020-11-17 09:08] lepture commented on #294
We have a running Twitter demo for starlette: https://github.com/authlib/demo-oauth-client/tree/master/starlette-twitter-login

My guess is that you didn’t add the session middleware.

[2020-11-17 09:08] #294 closed

[2020-11-17 17:31] mkrle opened #295 "Support for Microsof multi-tenant"
**Is your feature request related to a problem? Please describe.**

Due to MS multi-tenant OIDC implementation violating RFC, it's not possible to authenticate against Azure from multiple tenants in a simple fashion. The error I get is:

authlib.jose.errors.InvalidClaimError: invalid_claim: Invalid claim "iss"

I feel this is an issue on MS side which is why I am reporting a feature request and no

[2020-11-18 01:48] hashcutdev commented on #294
Thanks @lepture for the quick reply. I did add the session middleware in my code, and other oauth endpoints like google and discord work fine.

I tried the demo script you linked to, just copy/pasted it into a new file and ran it and still ran into the same error. The only change I made was to change the callback URL to match what I registered on my twitter app.

Was the twitter integration design

[2020-11-18 10:01] ldng opened #296 "Missing WWW-Authenticate on missing Authorisation with a BearerToken ResourceProtector"
When protecting a resource as follow :

[code]

I expect a request *without* an "Authorisation" header to return a 401 response with a "WWW-Authenticate" header per https://tools.ietf.org/html/rfc6750#section-3

Currently, the header is not present in the response.

Authlib version 0.15.2

[2020-11-18 10:33] ldng commented on #296
So as far as I understand, the `authlib.oauth2.rfc6749.resource_protector.ResourceProtector` has a `validate_request` method that is called in `authlib.integrations.django_oauth2.ResourceProtector` in the `acquire_token` method.

The `validate_request` method raises a authlib.oauth2.rfc6749.errors.MissingAuthorizationError which does not set the WWW-Authenticate header

Yet the `authlib.oauth2.rfc

[2020-11-18 12:57] ldng opened #297 "Accept extra auth-param attributes"
The RFC6750 allows for extra auth-param attributes (https://tools.ietf.org/html/rfc6750#section-3) :
[code]

Often seen in the wild are the 'service' and 'callback' auth-param attributes.

[2020-11-20 09:19] nsklikas opened #299 "Invalid Authorization error response"
**Describe the bug**
According to https://tools.ietf.org/html/rfc6749#section-4.1.2.1

The authorization server should return 400 to the user only if the `client_id` or the `redirect_uri` is incorrect, otherwise the server should redirect the user back to the client with the error encoded in the URL.

In addition if the authorization request contained a `state`, then the same state value MUST be a

[2020-11-20 09:22] nsklikas commented on #291
Yes the state parameter is mandatory meaning that it MUST be added if one existed in the authorization request.

This doesn't happen in the current authlib version.

[2020-11-20 09:23] nsklikas commented on #291
Also what about

?

[2020-11-20 11:42] lepture commented on #299
Can you provide an example to reproduce your problem? The `state` is in the location from our test case:

https://github.com/lepture/authlib/blob/master/tests/flask/test_oauth2/test_authorization_code_grant.py#L75

[2020-11-20 12:20] lepture commented on #295
This could never be a feature in Authlib itself. You may need to submit it in loginpass. And it is already fixed in loginpass master code (not released yet).

[2020-11-20 12:20] #295 closed

[2020-11-20 13:29] nsklikas commented on #299
For example the test:
[code]
Fails for 2 reasons `resp.status_code = 400` and `state` is not in `resp`

[2020-11-21 02:17] lepture commented on #299
RFC about this part is not clear. In our implementation, the logic is:

1. find the right `Grant` instance at first
2. call `grant.validate_xxx_request`

At `get_authorization_grant` moment, we don't validate at all. Since the given response type has no supported `Grant`, we will just raise an `unsupported` error.

But, it seems Authlib raised a wrong error. It should raise `unsupported_response_t

[2020-11-21 02:24] #297 closed

[2020-11-21 02:32] #296 closed

[2020-11-21 04:58] boertel opened #300 "Slack V2 OAuth 2.0 needs `user_scope` as part of the URL"
The V2 OAuth 2.0 Slack authentication introduces 2 kind of scopes:
- `scope`: for installing an App on a workspace (getting a bot token, etc)
- `user_scope`: for sign in an user

More about slack authentication: https://api.slack.com/authentication/oauth-v2#asking

The issue is that authlib is limiting what parameters will be passed down to the authorization URL here:
https://github.com/lepture/au

[2020-11-21 08:51] lepture commented on #300
@boertel You don't need to patch this `EXTRA_AUTHORIZE_PARAMS`. You can always pass `user_scope` in `create_authorization_url` method. If you are using Authlib framework related client, or loginpass, you can set:

[code]

[2020-11-21 08:52] lepture commented on #300
TODO: add documentation for `authorize_params`.

[2020-11-25 22:58] dmalan commented on #285
Hi @lepture, afraid the issue remains on `master`, reproducible via these same steps, https://github.com/lepture/authlib/issues/285#issuecomment-717767791, which still yield a `mismatching_state` error. The source of the issue still seems to be that each call to `authorize_redirect` results in global session keys being set for a given idP. E.g.:

1. `_cs50_authlib_redirect_uri_`
1. `_cs50_authlib_

[2020-11-26 03:07] lepture commented on #285
@dmalan With your fix, there will be a problem for cookie based session. Because the session key is so random, we can't clear the session properly. The cookie string will be larger and larger.

1. End user visit the login url
2. server will set some data into session and then redirect to GitHub, Twitter, Google etc.
3. End user just closes the tab, he doesn't want to authorize
4. those data will b

[2020-11-26 03:09] lepture commented on #285
@dmalan I would suggest you create a blank login page, all `login required` pages will be redirect to this login page.

1. Anonymous user visit `/docs/protected-page`
2. Redirect to `/account/login`
3. On `/account/login` there is a button, click this button to login with third party.

[2020-11-26 03:20] dmalan commented on #285
Definitely possible, though probably not a common case? And sounds like a job for garbage collection, no? Old keys (prefixed with, e.g., `_cs50_authlib_`) in `session` could simply be deleted after N minutes, triggered by subsequent calls into the library?

This might indeed decrease the probability of state being clobbered, since a user would now have to click a button in multiple tabs. But the r

[2020-11-26 09:16] ldng commented on #296
Could you at least explain why you consider it not being a bug ? The RFC is pretty clear. Not a book, a oneliner would be fine.

[2020-11-26 09:57] lepture commented on #296
@ldng it was fixed by https://github.com/lepture/authlib/commit/62d942e62eefc76397498d0e880bb4198ec9ff22

Check the message above your comment:

[2020-11-26 12:29] Sebsebzen commented on #294
I'm also still encountering this bug for my Twitter login. Please re-open this issue.

[2020-11-26 12:58] lepture commented on #294
Could you provide a runnable example for me to reproduce? Can you run the starlette demo without any change? Just add your client id and secret in the .env file.

[2020-11-26 13:17] Sebsebzen commented on #294
It would take a while to reproduce, I can see through sentry.io that the error occurs with some of the logins. But it's exactly the same issue that @hashcutdev encountered. He also stated that he tried running the demo script and still encountered it. So, I was wondering why the issue was closed already.

The only thing that seems to be working, is @hashcutdev advice of commenting out the respecti

[2020-11-26 20:45] ldng commented on #296
Wow, I missed the hash, apologies ! Many thanks, I need the fix.

[2020-11-27 10:30] hashcutdev commented on #294
That's exactly what I did, except I had to make two changes in order to match the callback URL I have registered with twitter:

1. manually specify redirect_uri (request.url_for('auth') returns 'localhost' as the host. Twitter doesn't allow that as a callback host. You have to use 127.0.0.1, so I manually create the string. But I did check the output of request.url_for('auth') and aside from switc

[2020-11-27 10:47] Sebsebzen commented on #294
@hashcutdev Did your hot fix of commenting out the lines as described in your initial post work so far? If so, you could create a fork of the authlib library with these modifications for the people affected by this bug.

[2020-11-27 12:56] lepture commented on #294
@hashcutdev I just re-run the demo, it works just fine. I can't reproduce your problem.

In your description:

This is not true. `.authorize_access_token` will call `.retrieve_access_token_params` at first, and in this `.retrieve_access_token_params`, this function will collect the `request_token` from session.

Checkout the logic:

1. **authorize_access_token**: https://github.com/lepture/authlib

[2020-11-27 13:01] Sebsebzen commented on #294
@lepture That doesn't explain my error happening during the same 3-way Twitter OAuth though. It's not easy to reproduce since it doesn't affect all logins. My guess it could be something related to Twitter API upgrading from v1.1. to v2.

Could you have a look at the sentinel report I linked?

[2020-11-27 14:18] lepture commented on #89
@DustinKLo the RFC you pointed is not related to this issue. But this RFC is already implemented in Authlib.

[2020-11-27 14:19] #299 closed

[2020-11-27 14:26] lepture commented on #294
@Sebsebzen your case could be caused by lost of session. Since I can't inspect the parameters in your shared sentry link, you can inspect it in your sentry dashboard:

[code]

What the `params` is? I think there is no `request_token` in this params. Your case is different than the issue author, the author can reproduce it always (which I don't know why).

Here are my guess for your case:

1. end u

[2020-11-27 14:30] lepture commented on #285
I think the best way to deal with such problem is adding a cache system. We have a `cache` configure for OAuth 1.0: https://docs.authlib.org/en/latest/client/flask.html#using-cache-for-temporary-credential

I'll refactor the code, if the client has cache system, it will use cache system, if not it will use the cookie session. I think this can solve the problem.

[2020-11-27 17:01] Sebsebzen commented on #294
@lepture That could be an explanation. 'params are filtered out but I will set up and environment where I can catch them and then report back. Thanks!

[2020-11-27 21:02] hashcutdev commented on #294
@Sebsebzen I'm hesitant to make a fork with those lines commented out because I don't know if that might have regressions in other OAuth providers that people might be depending on. I'd hate to introduce some sort of security bug without fully understanding where the problem actually lies :-) Either way, it's pretty easy for someone to comment it out themselves if they really want to as a temporar

[2020-11-29 23:37] boertel commented on #300
sorry for the delay, I just got time to get back on that project. But thank you, it works now. I'll close that issue then

[2020-11-29 23:37] #300 closed

[2020-11-30 21:44] jackburridge opened #301 "Failure to extend the password flow with an id_token"
**Describe the bug**

I've attempted to extend the password flow so it also returns a JWT, instead of returning a token the server returns with an error.

**Error Stacks**

[code]

**To Reproduce**

Using a combination of the [example-oauth2-server](https://github.com/authlib/example-oauth2-server) and [example-oidc-server](https://github.com/authlib/example-oidc-server) extend the authorisation s

[2020-12-02 05:25] lepture commented on #301
@jackburridge currently `OpenIDCode` is only available for authorization code flow. I'm working on a generic `OpenIDToken` extension: https://github.com/lepture/authlib/blob/master/authlib/oidc/core/grants/code.py#L22

For now, it doesn't support `password` flow either. I'll make it available in v1.

[2020-12-03 17:22] TimotheeJeannin commented on #285
Hi,

I also have the error `CSRF Warning! State not equal in request and response.` in my logs multiple times per day.
It's been a long time I'm searching for the root cause of this issue and I was unable to reproduce until now. Thanks to @dmalan for the investigation! :+1: I'm able to reproduce now with two tabs performing a Google authentication flow in a parallel.

From the logs of my website,

[2020-12-03 21:16] TimotheeJeannin commented on #285
Also, I think it would be great if a fix for this was based on session. It's not nice to have to setup a cache just to fix a bug.

[2020-12-08 15:39] lepture commented on #89
I've added a built-in JWT Bearer token generator and validator into RFC7523. But there should be a documentation for it.

[2020-12-08 15:40] lepture commented on #89
https://github.com/lepture/authlib/commit/695af265255853310c905dcd48b439955148516f

[2020-12-09 13:08] #301 closed

[2020-12-11 16:19] seweissman opened #302 "Redirect_uri validation for clients with multiple redirect URIs registered"
According to RFC 6749 if the client has multiple redirect_uris registered then it must pass in a redirect_uri argument:

[code]
However in the `validate_authorization_redirect_uri` there is never a check for this case. This can't be handled in the client because the client `check_redirect_uri` function is only called if redirect_uri is defined:

https://github.com/lepture/authlib/blob/36d5b3667520

[2020-12-11 23:45] lepture commented on #302
“client.get_default_redirect_uri()” if client has multiple redirect uris, this function can return None.

[2020-12-12 12:20] aliev commented on #63
If you look for a purely async oauth2 implementation, there is aioauth: https://github.com/aliev/aioauth, and I'm working on it to resolve this issue. It is MIT-licensed, fully test-covered, and simple, and I'd love to get your feedback or involvement.

[2020-12-14 11:27] Ander813 opened #303 "authorize_access_token() doesn't add client_secret to query with GET request"
When you send GET request to get access token client_secret is not added to query.

Here is some prints from methods:

request method: GET <authlib.integrations.httpx_client.oauth2_client.OAuth2ClientAuth object at 0x00000203BB662B80> SOME_CLIENT_SECRET
send method: <authlib.integrations.httpx_client.oauth2_client.OAuth2ClientAuth object at 0x00000203BB662B80> SOME_CLIENT_SECRET
_send_handling_aut

[2020-12-14 15:52] vjsingh commented on #295
@lepture - Thanks for fixing this! Oh Microsoft...

When is the next version of loginpass with the fix going to be released?

[2020-12-16 06:09] lepture commented on #303
This `GET` access token is not standard OAuth. To get what you want, you need to use `compliance_fix`, check:

https://docs.authlib.org/en/latest/client/frameworks.html#compliance-fix-for-oauth-2-0

[2020-12-16 06:09] #303 closed

[2020-12-16 11:00] Ander813 commented on #303
The problem with compliance_fix is that this method adds hook to TokenAuth class, but when you call .authorize_access_token, ClientAuth class is used.
ClientAuth has DEFAULT_AUTH_METHODS = {
        'client_secret_basic': encode_client_secret_basic,
        'client_secret_post': encode_client_secret_post,
        'none': encode_none,
    }
so I set token_endpoint_auth_method='none' in .register()

[2020-12-18 06:15] lepture commented on #303
You can register a new auth method, e.g. name it `client_secret_get`.

[2020-12-20 16:08] thatguysimon opened #305 "ResourceProtector decorator doesn't work with class-based Django views"
**Describe the bug**

When using the ResourceProtector decorator (as documented [here](https://docs.authlib.org/en/latest/django/2/resource-server.html)) on a Django REST Framework **class-based view**'s method:

[code]

I get the following error:

This is because in this case, the first parameter in the [decorator's `decorated` function](https://github.com/lepture/authlib/blob/ffeeaa9fd7b5bc4ea7c

[2020-12-23 13:45] thatguysimon opened #307 "Allow reading an unvalidated JWT's header"
**Is your feature request related to a problem? Please describe.**

When validating a JWT using a JWKS, it is common to read the `kid` claim from the JWT's header in order to pull the correct JWK from the set. For example: https://auth0.com/docs/quickstart/backend/python/01-authorization#create-the-jwt-validation-decorator

Currently in order to read the contents of the JWT we have to initialize a

[2020-12-23 13:51] thatguysimon commented on #305
I ended up implementing this as a DRF [custom permission class](https://www.django-rest-framework.org/api-guide/permissions/#custom-permissions) so instead of a decorator, I inherited from `ResourceProtector` and created a regular function version of `__call__` which just returns a boolean and called it from the permission class.

I feel like this is a more "DRF-way" of doing this.

[2020-12-25 03:20] lepture commented on #307
@thatguysimon our `key` accepts a function:

[code]

---

However, I would like to add such a method in the future.

[2020-12-25 03:26] #305 closed

[2020-12-25 12:07] lepture commented on #285
This has been fixed in master branch. It will be released in v1.0.

[2020-12-25 12:07] #285 closed

[2020-12-26 01:58] lepture commented on #257
There is a OpenIDMixin in master branch code now.

[2020-12-26 01:58] #257 closed

[2020-12-26 02:57] dmalan commented on #285
This is terrific, @lepture. It's working great on our end using `master`. Thanks so much!

[2020-12-26 14:34] #302 closed

[2021-01-09 10:26] ko-zu opened #308 "authorize_access_token() unintentionally send oauth_callback"
**Describe the bug**

For oauth1 client with flask integration, `OAuth.providername.authorize_access_token()` send oauth header with `oauth_callback` field to access_token_url.
The uri in the unnecessary oauth_callback field was stored in flask session from previous `authorize_redirect(redirect_uri)` call.

Since there is no way to utilize oauth_callback after access_token_url step, the server SHO

[2021-01-10 12:39] thatguysimon commented on #307
Thanks @lepture, this was very helpful!
Is it documented anywhere? I couldn't find anything about this in the docs.

[2021-01-10 19:30] tntclaus opened #309 "oidc raises exception when auth_time claim is decimal"
**Describe the bug**

According to [spec](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) 'auth_time' is JSON NUMBER which can be decimal. While most oidc providers set it to `int`, there are some (e.g. JetBrains Hub) that provide it in decimal.

**Error Stacks**

[code]

**To Reproduce**

id_token:

[code]

**Expected behavior**

`auth_time` validation raises no errors

**Environme

[2021-01-12 02:22] #309 closed

[2021-01-15 14:00] lepture commented on #308
Try with v0.15.3 release.

[2021-01-15 14:00] #308 closed

[2021-01-17 19:37] ThiefMaster opened #311 "Make bearer token expiry optional"
**Is your feature request related to a problem? Please describe.**

Just like e.g. in the GitHub API I would like to be able to return tokens that do not expire. Depending on the app this is a perfectly valid case and as long as tokens can be revoked and TLS is used, the extra hassle of using refresh tokens is not needed - if an access token leaks, the refresh token would leak as well, since they

[2021-01-23 10:55] lepture commented on #311
@ThiefMaster PR is welcomed.

[2021-01-23 15:30] ThiefMaster commented on #311
OK, this was much less work than I thought it would be - see the linked PR.

I tested the code from my PR using the `example-oauth2-server` app with these changes:

[code]

Output when fetching the token:

[code]

[2021-01-24 04:18] #311 closed

[2021-02-02 00:29] sjv0 opened #314 "jwk.dumps() No Longer Inserts Extra Parameters"
In 0.14.3 and earlier, the rfc7517/jwk.py `dumps()` implementation used to call `_add_other_params()` to insert the extra parameters supplied by the caller into the object before returning it.  This behaviour supported the statement at the bottom of the documentation [here](https://docs.authlib.org/en/v0.14/jose/jwk.html) stating that:

So with 0.14.3 you could do:

[code]

and the returned jwk di

[2021-02-02 13:17] lepture commented on #314
@sjv0 Use `JsonWebKey.import_key` instead.

https://docs.authlib.org/en/v0.15/jose/jwk.html

[2021-02-02 20:45] sjv0 commented on #314
As mentioned in my bug report, that doesn't work either:

[code]

[2021-02-03 07:30] lepture commented on #314
@sjv0 try

[code]

[2021-02-03 22:08] sjv0 commented on #314
[code]

Looking at the source code it appears that `is_private` is new to 0.15.3.  I'm still running 0.15.2 which is the latest package available on FreeBSD:

[code]

Ideally there would be a way to do this that works on all versions of authlib, but there's no stress really because it's very straightforward to just add the extra fields to the dict manually after creating the JWK.

I just wanted to

[2021-02-04 08:38] lepture commented on #314
@sjv0 oh, actually, `is_private` is for v1.0, which is not released yet. :(

I'll close this issue, since I won't fix it in v0.15.x.

[2021-02-09 12:57] agentydragon opened #315 "RFC 9449 OAuth 2.0 Demonstrating Proof of Possession (DPoP)"
**Is your feature request related to a problem? Please describe.**

I've been trying to talk to Solid (http://solidproject.org) servers with Python. Unfortunately, currently Solid server only works with DPoP tokens.

Here's a few links about DPoP:

* Draft RFC: https://tools.ietf.org/html/draft-fett-oauth-dpop-04
* https://darutk.medium.com/illustrated-dpop-oauth-access-token-security-enhancement-

[2021-02-09 13:14] lepture commented on #315
@agentydragon this is a draft spec and current draft is already expired.

I would like to wait for a while to implement this feature.

[2021-02-15 16:21] ThiefMaster commented on #146
[code]

@lepture @night Can you confirm that this is the proper solution to support both PKCE client auth (w/o client_secret) and regular (w/ client_secret) code auth in the same client, without introducing any security issues? Based on my tests in the example app this works fine, but I'd like to know for sure.

And if this has no disadvantages, wouldn't it make sense to include a `allow_pkce_flow

[2021-02-15 21:58] night commented on #146
The method `check_endpoint_auth_method` just checks if the client is permitted to use method for the type of endpoint. it isn't really providing any security. As long as you have the code challenge mixed into the server and code challenge is configured as required then specifying no credentials in the request will require it to have a code verifier when authorizing.

[2021-02-15 22:05] ThiefMaster commented on #146
OK, that makes sense. I think then I'll actually override `check_endpoint_auth_method` as I originally planned and maybe store a list of allowed token_endpoint_auth_methods on the model like it's already done for response/grant types.

[2021-02-16 11:31] conqp opened #317 "Allow other redirect methods than 302 in OAuth 2.0 flow"
**Is your feature request related to a problem? Please describe.**

When writing an Angular Front-End for an Authlib Oauth 2.0 backend, it [cannot handle](https://stackoverflow.com/questions/52290377/angular-how-to-handle-redirect) the `302` redirects.

**Describe the solution you'd like**

Allow other redirect methods, such as `401` and `403` as per [RFC 6749](https://tools.ietf.org/html/rfc6749#

[2021-02-16 15:37] m-aciek opened #318 "Bearer token validator in SQLAlchemy integration does not check if token is revoked or expired"
**Describe the bug**

`create_bearer_token_validator` in `sqla_oauth2.functions` module returns a validator that doesn't check if a token is revoked or expired.

**To Reproduce**

A minimal example to reproduce the behavior:
* run Authlib's Example of OpenID Connect 1.0 Provider,
* add example client,
* authenticate using the client credentials,
* gain access token,
* use gained access token the n

[2021-02-16 15:42] ThiefMaster opened #319 "ClientMixin.has_client_secret() seems to be unused"
ClientMixin contains this abstract method:

[code]

It's not called anywhere, so I propose to get rid of it.

[2021-02-16 19:00] ThiefMaster opened #320 "ClientMixin's get_allowed_scope not used in authorization/consent step"
The docstring currently states "A method to return a list of requested scopes which are supported by this client".

But when testing it by trying to authorize a scope that is not accepted by this function, I noticed this behavior:

- it never gets called while displaying the consent page
- it also doesn't get called when giving consent
- it only gets called when exchanging the code for a token, wh

[2021-02-17 13:57] ThiefMaster opened #321 "OAuth2Client mutates DEFAULT_HEADERS"
`fetch_token` sets `headers = DEFAULT_HEADERS`, and later the `prepare` method of `ClientAuth` runs on those headers.

However, both `encode_client_secret_basic` and `encode_client_secret_post` (which are called in `prepare`) mutate the headers passed to them, instead of copying them and returning the copy.

This is not a big problem in a typical application where you always use the same `token_en

[2021-02-17 14:38] ThiefMaster commented on #321
ok nevermind, looks like the real requests copies the header at some point, and it was just my fake request wrapper that calls the flask test client not copying it

[2021-02-17 14:38] #321 closed

[2021-02-19 14:12] freegroup opened #322 "support for mTLS client authentication"
currently only `client_secret_basic`, `client_secret_post` or `none` are possible to client authentication.
Unfortunately I need `tls_client_auth` as described in https://tools.ietf.org/html/rfc8705

It is ClientId and a x509 certificate for mTLS communication.

Is it possible to write a plugin to implement the missing functionality?

best regards

Andreas

[2021-02-21 04:59] #319 closed

[2021-02-21 05:00] lepture commented on #320
If you add this logic in `.validate_requested_scope`, it would raise an error in consent view. However, I saw a lot of services (including GitHub) are doing it in another way. Instead of raising an error, they just ignores the unsupported scopes in the consent view.

You can call this method in your consent endpoint view function. I've updated the documentation and added this function in the docs.

[2021-02-21 05:03] lepture commented on #317
How is this use case working? How it related to Angular?

[2021-02-22 04:16] Priyansh2001here opened #323 "OAuth and JWT"
I am working on django + react app and want to integrate OAuth 2.0 using JWT

I tried to follow docs and found docs for integrating Authlib with django app but there was no option for integrating JWT with OAuth

[code]

This code sends auth_code to backend server, there should be a way to authorize users based on this auth code

I tried to follow this entire [guide](https://developers.google.com/i

[2021-02-23 14:17] gtrs opened #324 "RFC8628 Device Flow only checks device code expiration when user consent is pending"
In the RFC8628 Device Flow, the client fetches a so-called device code from the AS's device authorization endpoint. The client uses this device code to repeatedly query the token endpoint for an access token. The token endpoint will provide this access token after the user has given consent over a different channel / secondary device. Until the user has stated her choice to the AS, the AS will tel

[2021-02-24 06:45] lepture commented on #324
Thanks. I've updated the logic.

[2021-02-24 06:45] #324 closed

[2021-02-24 06:46] lepture commented on #323
@Priyansh2001here Hi. We only accept bug report and feature request in GitHub issues. If you are looking for someone's help, please try StackOverflow.

[2021-02-24 06:46] #323 closed

[2021-02-24 06:49] lepture commented on #322
@freegroup Hi, you can create a plugin for Authlib. Here is an example that would help you `oauth2/rfc7523/auth.py`.

[2021-02-24 06:50] lepture commented on #318
@m-aciek I'm going to remove SQLAlchemy integrations entirely. In this case, I won't fix the problem. People can define the database by themselves.

[2021-02-24 06:50] #318 closed

[2021-02-24 07:44] freegroup commented on #322
Hi

thanks for the example coding. I already found them but I'm unable to find the point where the request is fired.
I need a "request" hook. In the end I add the certs into the "fetch_token" call....which works for the required IDP...but maybe not for all kind of OAuth servers

[code]

Any idea how to implement this as a plugion?

[2021-02-26 09:14] conqp commented on #317
The problem is that `authlib.integrations.flask_oauth2.AuthorizationServer`'s `create_authorization_response()` method always returns `302` on success. Angular cannot handle this, since 302 status codes are not interceptable. Thusly I need to indicate the redirect with another status code, as RFC 6749 section 1.7 allows.
My current workaround/hack is to subclass `AuthorizationServer` and allow the

[2021-02-28 08:22] ulodciv opened #326 "Support HTTPX Client.stream in subclass OAuth2Client"
**Describe the bug**

OAuth2Client doesn't work when calling method stream of base class Client.

Client.request is overridden in OAuth2Client: this is how auth is handled by Authlib. The problem seems to be that this method is not called when calling Client.stream.

[2021-02-28 14:05] lepture commented on #326
@ulodciv can you help me review https://github.com/lepture/authlib/pull/306

I think this PR fixed the problem.

[2021-03-03 19:49] ThiefMaster opened #327 "`[client]` extra removed on purpose?"
Versions before 1.0.0a1 had a `[client]` extra that explicitly pulled in `requests`. This no longer exists.

The [commit](https://github.com/lepture/authlib/commit/b9743ebce367b6e37b6528ea5aad47e2fd1f174a#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7) where it was removed doesn't sound particularly related to it, so I wonder if this was on purpose or not.

[2021-03-04 04:32] lepture commented on #327
It is on purpose, because Authlib contains not only requests client.

[2021-03-04 08:26] #327 closed

[2021-03-04 22:17] leondmello commented on #222
A similar error gets thrown on this line as https://github.com/lepture/authlib/blob/v0.15.3/authlib/jose/rfc7517/models.py#L156
Should that be updated too ?

[2021-03-05 21:49] shahabGh77 opened #328 "PKCE check"
https://github.com/lepture/authlib/blob/51261de795cddb93d5e5206d8206bfd87917c5b3/authlib/oauth2/rfc6749/grants/authorization_code.py#L207

Hi.
here when the request is "PKCE token request" as client is public and client credentials are not sent, shouldn't we skip client authentication and just check client_id instead? or i'm missing something in the request?

Thanks in advance

request parameters:

[2021-03-06 03:56] lepture commented on #328
Customize your AuthorizationCodeGrant with `none` in `TOKEN_ENDPOINT_AUTH_METHODS `.

https://github.com/lepture/authlib/blob/51261de795cddb93d5e5206d8206bfd87917c5b3/authlib/oauth2/rfc6749/grants/authorization_code.py#L51

[code]

`none` is used to only check `client_id` for public client.

[2021-03-06 03:56] #328 closed

[2021-03-10 12:10] libre-man opened #329 "Allow setting `oauth_body_hash`"
**Is your feature request related to a problem? Please describe.**

When using OAuth 1 for the [LTI 1.1 protocol](http://www.imsglobal.org/specs/ltiv1p1/implementation-guide) setting the `oauth_body_hash` parameter is required for some implementations. Currently `authlib.oauth1.rfc5849.client_auth.ClientAuth` doesn't set that parameter in the `get_oauth_params` method.

**Describe the solution you

[2021-03-18 19:31] sheilatron opened #330 "authlib testing framework for external usage"
**Is your feature request related to a problem? Please describe.**

In a project that uses authlib, I want to write tests without having to re-invent all the setup that authlib has for its own unit testing.

**Describe the solution you'd like**

In a project that uses authlib, I would like to reuse some of the features within authlib's "test" directory for my own tests. It would be nice if I could

[2021-03-23 13:29] dwt opened #331 "Loggout support"
**Is your feature request related to a problem? Please describe.**

I'd like Authlib to support logging out of open id connect servers. AFAIK this is handled through an additional spec - and I'm not sure I understand fully which spec is required for that.

**Describe the solution you'd like**

Login in Flask land pretty much looks like this:

[code]

I wrote my own logout method like this:

[code]

[2021-03-29 03:44] LeoQuote opened #332 "Cannot get token with refresh token when using client-authentication and client_auth_method is set to ClientSecretJWT"
**Describe the bug**

I'm using keycloak as oidc provider, I used the example code to get a Oauth2session

[code]

I think it's because session are not using correct client_auth_method , I cannot see any parameter of `refresh_token` to set `client_auth_method `, I tried to `register_client_auth_method` but still no work.

I debugged this process and found  session.metadata is an empty dict , maybe

[2021-03-29 06:40] LeoQuote commented on #332
I checked my code and found that the problem is that I dumped access token as dict and saved it in a varible , then loaded back with token = xxx parameter, the auth method info was perhpas lost during, resulting a failure when refreshing token. closing this issue...

[2021-03-29 06:40] #332 closed

[2021-04-01 21:56] andrewzah opened #334 "[chrome bug] CSRF Warning! State not equal in request and response."
**Describe the bug**

When logging in via OIDC, an error occurs, `CSRF Warning! State not equal in request and response.`. This only happens on chrome/chromium. It does not happen on firefox.

Specifically, chrome `89.0.4389.114`, firefox `78.8.0esr`, and chromium `88.0.4324.182`. And on mac/linux.

**Error Stacks**

[code]

**To Reproduce**

We are using Keycloak to login via OIDC with [Airflow](

[2021-04-02 07:24] LeoQuote opened #335 "starlette client would raise Too much data for declared Content-Length error if token_endpoint_auth_method is set"
**Describe the bug**

Starlette client raise exception when sending request to oidc provider. Seems that the token_endpoint_auth_method is the key to trigger this bug.

[code]
**Error Stacks**

[code]

**To Reproduce**

1. set up as the starlette example
2. set oidc client auth method as signed jwt with client secret in keycloak admin
3. set `token_endpoint_auth_method=ClientSecretJWT()` when regi

[2021-04-05 05:47] BnGx opened #336 "User-Managed Access (UMA)"
Currently the OAuth2 framework alone does not support fine-grained management of resource permissions. An example would be: _Alice would like to share, using read/write modes (scopes), a photo with Bob._

**User-Managed Access for OAuth2 (UMA)** is a layer, just like OpenID Connect, which adds this functionality. Is there any possibility that UMA 2.0 will be implemented according to the official s

[2021-04-05 10:06] syucream commented on #334
I got the same issue with Chrome `89.0.4389.114`,  Airflow `2.0.1` and Authlib `0.15.3`

[2021-04-07 09:36] TimotheeJeannin commented on #285
Thank you very much for the fix @lepture. Do you know when you plan to release this?

[2021-04-14 10:20] krkd opened #337 "JWS JSON integrity protected headers are owerwritten by unprotected headers"
**Describe the bug**

Deserialize JWS JSON  will overwrite protected headers (`protected`) with values from `header`

**To Reproduce**

[code]

**Expected behavior**

deserialize_json must not overwrite protected headers with unprotected headers.
[code]

**Environment:**

 - OS: ox X 11.2.3
 - Python Version: 3.9.1
 - Authlib Version: 0.15.3

[2021-04-14 10:27] krkd commented on #337
Changing dict update order in JWSHeader should do the trick, but maybe i am missing the big picture

[2021-04-15 15:59] BnGx commented on #1
Please consider implementing the **User-Managed Access (UMA) 2.0** layer.

[2021-04-20 20:39] james-emerton opened #338 "Error handling during token refresh"
**Describe the bug**

If the IdP responds with an error during `refresh_token()`, a `JSONDecodeError` is raised rather than an HTTP or Authlib specific exception.

During the recent Auth0 outage, their endpoints were responding with a 502 error with a response body that was not JSON. This cause some outage in some of our systems which were designed to gracefully recover from server errors.

**Erro

[2021-04-21 22:56] schinckel opened #339 "Authlib httpx integration does not pass realm through."
The documentation for authlib.integrations.httpx_client.OAuth1Client suggests it supports passing in a realm argument, but it actually calls it OAuth1Session, which probably means it is a copy-paste from the requests section.

https://docs.authlib.org/en/latest/client/api.html?highlight=realm#authlib.integrations.httpx_client.OAuth1Client.fetch_request_token

Anyway, this value is not passed throu

[2021-04-27 03:53] lepture commented on #339
Request and httpx are sharing the same `fetch_request_token` method in `authlib.oauth1.client`.

[2021-04-27 03:56] lepture commented on #338
[code]

It seems you are using the wrong Authlib version. In `Authlib Version: 0.15.2`, there is no `authlib.client` module. Please update to Authlib v0.15.3.

[2021-04-27 03:56] #338 closed

[2021-04-27 04:00] lepture commented on #331
`end_session_endpoint` is defined by OpenID Connect Session Management 1.0, but this spec is still in draft status. I'm not going to add it until it is published.

[2021-04-27 04:02] lepture commented on #330
I don't think I can provide this data for now. Because I'm thinking of refactoring all the tests in the future.

[2021-04-27 04:02] #326 closed

[2021-04-27 04:04] #320 closed

[2021-04-27 04:57] schinckel commented on #339
Ah, so the documentation is auto-generated.

[2021-04-27 05:04] schinckel commented on #339
Okay, so it seems like `fetch_access_token` would use the `realm` that is supplied as a kwarg, but other requests do not?

[2021-04-28 14:55] mtueng commented on #337
Can you please label this Bug as a security issue, because it is one that affects both methods serialize_json and serialize. Thanks!

[2021-04-28 20:53] aFluxx commented on #245
1. Has this already been merged in the docs.

2. @dragonpaw , by any chance, do you also have a Flask example?

[2021-04-29 20:06] dragonpaw commented on #245
Sadly, I do not. And with Flask, the implementation would be entirely dependent what database system you went with. The SqlAlchemy implementation would look nothing like what a mongo backend implementation would look like.

[2021-05-01 21:48] space55 opened #340 "oAuth 2 async server integration (aiohttp)"
**Is your feature request related to a problem? Please describe.**

I'm looking to see if there is any interest/availability of an async HTTP server integration for oauth2, with one such as aiohttp.

**Describe the solution you'd like**

If possible, I'd love to have one, potentially PR'ing it in myself.

**Describe alternatives you've considered**

I've thought of backporting flask-oauth2, which

[2021-05-03 06:56] grofonn commented on #335
I have the same issue. It seems that the content-length header is already set before the auth method (the PrivateKeyJWT for me) adds data to the content.

[2021-05-04 17:43] ryandawsonuk opened #341 "update_token with password grant"
I'm trying to use [update_token](https://docs.authlib.org/en/latest/client/oauth2.html#refresh-auto-update-token). I've got this code:

[code]

If I print the token I see that it has 'expires_in' value of 300. But as we get near to that 'update_token' never gets called. I'm on 0.15.3 and wondering if it's something related to using the password_grant. More fully:
[code]

[2021-05-14 13:11] dcs3spp opened #342 "Does authlib support verifying a token when a provider does not have a token introspection endpoint?"
Hi,

I encountered this [issue](https://github.com/lepture/authlib/issues/187) with an AWS Cognito access token.....I can successfully decode the token [online](https://jwt.io).

I am new to the authlib library and wanted to figure out how to [verify](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-verifying-a-jwt.html) a cognito access token using

[2021-05-20 14:03] dcs3spp opened #344 "Unable to import JWTBearerToken from authlib.oauth2.rfc7523"
Hi,

I am trying to use ```JWTBearerToken``` from ```authlib.oauth2.rfc7523```.  However, I have encountered import error when trying to import ```JWTBearerToken```:

*Create a virtual environment and install authlib*
[code]

*Start authlib and try to import ```JWTBearerToken```
[code]

**Try and import via validator module**
[code]

The source for the module is [here](https://github.com/lepture/a

[2021-05-21 07:53] lepture commented on #344
It's your environment problem.

[2021-05-21 07:53] #344 closed

[2021-05-24 12:59] m-aciek opened #346 "Flask ResourceProtector is not compatible with Flask 2"
**Describe the bug**

After upgrading Flask to version 2, view decorated with ResourceProtector responds with 500 instead of 401.

**Error Stacks**

[code]

**To Reproduce**

A minimal example to reproduce the behavior:

[code]

**Expected behavior**

401 error with payload:
[code]
**Environment:**

 - Python Version: 3.9.1
 - Authlib Version: 0.15.3

**Additional context**

Flask 2 requires handl

[2021-05-24 17:34] azmeuk commented on #331
This is a duplicate of #292

[2021-05-24 20:44] m-aciek commented on #346
It occurs it's because of changed signatures of get_body() and get_headers() methods of HTTPException in Flask 2. Fixed in #347.

[2021-05-25 04:01] xarg commented on #187
I have the same issue. I traced it to the interaction between generating the base auth [here](https://github.com/lepture/authlib/blob/master/authlib/oauth2/auth.py#L10) extracting the base auth [here](https://github.com/lepture/authlib/blob/master/authlib/oauth2/rfc6749/util.py#L34).

It's very simple to test it:

[code]

I assume it's because of the `urlsafe_b64encode` - to me it's super clear wh

[2021-05-25 14:46] lepture commented on #346
Fixed in master code.

[2021-05-25 14:46] #346 closed

[2021-05-25 15:33] dwt opened #349 "Cannot validate custom claims in jwt"
https://github.com/lepture/authlib/blob/8b7c35ce5cec230a8fc984486c2ea2c81cfa7c31/authlib/jose/rfc7519/claims.py#L88

I've noticed that this method does not trigger validation for custom claims that I have added via validation options in the constructor.

For example I've added these custom validators:

[code]

And indeed missing status is [validated here](https://github.com/lepture/authlib/blob/8b

[2021-05-27 16:16] dcs3spp opened #350 "Unable To Import authlib.oauth2.rfc7523.JWTBearerToken In A Fresh Virtual Environment on MacOS Catalina and Ubuntu 16.04 LTS"
Hi

I have tried upgrading to Python 3.9.5 on a macos Catalina and Ubuntu Linux environment via pyenv.

In both cases I have followed this procedure:
[code]

In both cases :

[code]

Prints 0.15.3.

In both cases I am unable to install ```JWTBearerToken``` from ```authlib.oauth2.rfc7523```:

[code]

Would it be possible for someone to confirm that they are able to get this import working in a virt

[2021-06-04 09:57] lepture commented on #350
There is no `JWTBearerToken` in that module, please check:

https://github.com/lepture/authlib/blob/v0.15.3/authlib/oauth2/rfc7523/__init__.py

`JWTBearerToken` was added in v1.0.0. Currently you can try to install:

[code]

[2021-06-04 09:57] #350 closed

[2021-06-08 14:53] kawa-marcin opened #353 "What is in the version 0.15.4"
A new version of Authlib has been released on the `pypi` but it's nowhere to be found on GitHub tags nor the changelog. Did anything changed or was that version released due to some error?

https://pypi.org/project/Authlib/

Thanks!

[2021-06-08 16:42] m-aciek commented on #353
Moreover it seems that 0.15.4 is missing recent changes on master, e.g. 49a8d8e53dccc73409a61fecd5a1c760fdf5cf74.

[2021-06-09 03:59] lepture commented on #353
Release note and code will be available after two weeks. It is an early fix version for Authlib plus users.

[2021-06-09 04:01] #349 closed

[2021-06-09 10:59] janwijbrand commented on #335
I have the same issue. I cowboyed up and applied commit https://github.com/lepture/authlib/commit/cfa15c00ba0175e515309d33e0cd347a15779994 to my install, but to no avail.

[2021-06-09 16:01] Ndr6 opened #354 "_HTTPException arguments error"
**Describe the bug**
I am implementing OAuth2 authentication in my Flask project, and am encountering a problem when I try to access a protected route with an revoked token. The BearerTokenValidator throws an InvalidTokenError, but it is not catched by Werkzeug, which tells that there is an excess argument (see error stack)

I am not really sure whether this is a problem with my code, or if it is

[2021-06-10 08:45] janwijbrand commented on #335
Ah, if I add the same content-length header line in the `OAuth2ClientAuth`, the PrivateKeyJWT method wont fail on this error anymore! That would fix that situation too.

[2021-06-10 13:56] Ndr6 commented on #354
Oh, sorry, this is a duplicate of #346

[2021-06-10 13:56] #354 closed

[2021-06-13 18:58] verdan commented on #245
@aFluxx did you manage to make it work with the Flask App?

[2021-06-18 05:55] jumpyapple opened #357 "`AuthTypes` of httpx does not include `UnsetType`"
**Describe the bug**

From the discussion at https://github.com/encode/httpx/discussions/1697 by @Shivansh-007, the error is

`TypeError: Invalid "auth" argument: <httpx._config.UnsetType object at 0x7fbd7bcbc8e0>`

**Error Stacks**

Taken from the aforementioned discussion.

[code]

**To Reproduce**

1. Setup the starlette google login from the source code at https://github.com/authlib/demo-oauth

[2021-06-18 06:13] jumpyapple commented on #357
hmm. Just saw that `UnsetType` was used in https://github.com/encode/httpx/blame/34ba0e14b0d588860e408e6e21ec729af5667f7f/httpx/_client.py#L288 before it get remove with `https/_types.py`

[2021-06-18 11:11] ZhengRui commented on #357
I just had the same issue when trying out demos

https://github.com/authlib/demo-oauth-client/issues/14

[2021-06-19 02:44] lepture commented on #357
fixed in master code.

[2021-06-19 02:44] #357 closed

[2021-06-19 02:47] #335 closed

[2021-06-19 02:47] lepture commented on #335
@janwijbrand thanks. I missed that one. I've fixed it in master code.

[2021-06-19 06:43] lepture commented on #329
@libre-man added in master code.

[2021-06-19 06:43] #329 closed

[2021-06-20 13:39] alexgolec opened #358 "Oauth2 authorization header not passed with httpx==0.18.2"
**Describe the bug**

`httpx` recently put out a [new release](https://github.com/encode/httpx/releases/tag/0.18.2) which appears to break passing of the authorization header.

**Error Stacks**

When running on `httpx==0.18.11` and inserting the following code into `integrations/httpx_client/oauth2_client.py` ([link](https://github.com/lepture/authlib/blob/master/authlib/integrations/httpx_client/

[2021-06-20 14:03] alexgolec commented on #358
Note while my intuition tells me this is likely an `authlib` issue, I have to do additional digging to figure things out for sure. I've opened a discussion on the `httpx` side as well:

https://github.com/encode/httpx/discussions/1700

[2021-06-20 16:17] lepture commented on #358
master code has already fixed this problem.

[2021-06-20 16:18] #358 closed

[2021-06-20 16:19] lepture commented on #358
https://github.com/lepture/authlib/issues/357

https://github.com/lepture/authlib/commit/40276708374fcc7c0ee6b1ce4955dbe7db82f5ba

[2021-06-21 02:08] alexgolec commented on #358
Nice, thanks for the quick response! Is there a timeline for when this fix will be release? I see there's a `1.0.0a` prerelease candidate in flight, are you planning on releasing this with `1.0.0`?

[2021-06-22 15:16] dcs3spp opened #359 "Why is refresh_token method unavailable on FASTAPI/Starlette client? How to enable it?"
**Describe the bug**

Unable to access ```refresh_token``` method from FAST API starlette client

[code]

**Error Stacks**

[code]

**To Reproduce**

[code]

**Expected behaviour**

Should be able to access refresh_token method for FASTAPI/ Starlette client. How do I get the refresh_token method so that I can make the request to the cognito IDP?

**Environment:**

 - OS: macos Catalina 10.15.7 (19

[2021-06-22 17:53] emilt27 opened #360 "httpx AsyncOAuth2Client.revoke_token raises DeprecationWarning"
I'm getting DeprecationWarning by using `AsyncOAuth2Client.revoke_token` from `httpx_client` integration (https://github.com/lepture/authlib/blob/master/authlib/integrations/httpx_client/oauth2_client.py#L46).

**Error Stacks**

[code]

**To Reproduce**

[code]

**Expected behavior**

It should not raise this DeprecationWarning.

**Environment:**

 - OS: Docker on MacOS 11.2.3
 - Python Version: 3

[2021-06-24 16:16] alessandroralc opened #361 "Authlib 0.15.x crashing with httpx 0.18.2"
After upgrading to HTTPX 0.18.2, the starlette oauth module (provided by Authlib) started to crash.

When i call the oauth authorize_redirect method, i get the following error: Invalid "auth" argument: <httpx._config.UnsetType object at 0x7fb5ac920310>"}

In HTTPX 0.18.1, everything works like a charm.

[2021-06-24 17:46] jeking3 commented on #353
Any updates on this?

[2021-06-24 19:17] rushilsrivastava commented on #361
I think the relevant fix for this has already been made in https://github.com/lepture/authlib/commit/40276708374fcc7c0ee6b1ce4955dbe7db82f5ba, just pending release.

[2021-06-25 00:04] alessandroralc commented on #361
Thanks for the info @rushilsrivastava ... I'll wait the next release.

[2021-06-25 00:04] #361 closed

[2021-06-25 06:00] lepture commented on #360
Is there warning with master code?

[2021-07-02 17:36] emilt27 commented on #360
hm it is mystic, but I cannot reproduce that now. Although I've downgraded httpx to 0.18.1. version coz for 0.18.2 it does not work with AsyncOAuth2Client, it always returns me 401. I don't know, is it an issue either authlib or httpx, but as I understand it is related to this change:

https://github.com/encode/httpx/releases/tag/0.18.2

[2021-07-03 00:10] jeking3 commented on #353
Here are the code diffs between 0.15.3 and 0.15.4, which was published to pypi but code was not pushed here:
[code]

I see no other packaging-related changes based on the pypi dist-info.

[2021-07-06 22:35] Natay opened #362 "`userinfo_compliance_fix` callbacks are not being triggered"
**Describe the bug**

 We need to edit the `azp` in the user claims to meet internal standards, when trying to do this using a compliance hook `userinfo_compliance_fix` as stated here, https://docs.authlib.org/en/latest/client/frameworks.html#userinfo-endpoint, nothing happens.

No error stacks, but expected behavior is not seen.

**To Reproduce**

[code]

**Expected behavior**

User info claim wi

[2021-07-15 09:50] nomad-software opened #364 "Backward compatibility and API stability"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when updating to a new version of authlib because of needless refactoring and especially removal of methods on models. Moving code around and renaming causes serious breakage between versions. We have many services using this lib and it's a total nightmare to update their dependencies (which we do regularly f

[2021-07-15 15:47] Natay commented on #362
Nevermind, I saw that this only gets applied when we also provide `userinfo_endpoint`

[2021-07-15 15:48] #362 closed

[2021-07-16 11:07] sergioisidoro opened #365 "Flask client still relies on requests (missing dependecy)"
**Describe the bug**

I was following this documentation: https://docs.authlib.org/en/latest/client/flask.html

In Installation doc section (https://docs.authlib.org/en/latest/basic/install.html) it says to use Authlib with Flask we just need to install Authlib and Flask.

However, when using `authlib.integrations.flask_client.OAuth` we still get a missing requests dependency. The docs rightfully

[2021-07-16 16:12] tomashozman opened #366 "Unsure of how to use authorization_endpoint parameter in requests integration of OAuth2Session"
Hi there!

I'm sorry if there is something obvious I've missed, but what is the `authorization_endpoint` parameter used for in [`requests_client.oauth2_session.OAuth2Session`](https://github.com/lepture/authlib/blob/f17395323555de638eceecf51b535da5b91fcb0a/authlib/oauth2/client.py#L19)? It's mentioned in the docs(tring,) but I haven't been able to find it anywhere else in its code, or the parent c

[2021-07-16 21:32] jeking3 commented on #353
@lepture will you be making the changes official any time soon?

[2021-07-17 03:09] lepture commented on #353
There is a release note in GitHub releases now.

[2021-07-17 03:09] #353 closed

[2021-07-17 03:13] lepture commented on #364
@nomad-software are you upgrading to 1.0.0 alpha versions?

Each breaking version change I will create a gist guide like:

https://gist.github.com/lepture/726e07a737b20f111d570d1d0437d5d4
https://gist.github.com/lepture/ecf8ccdbb2ef4b635799d5669308cb50

[2021-07-17 03:16] lepture commented on #365
You need to install `requests` yourself:

[code]

[2021-07-17 03:16] #365 closed

[2021-07-17 10:02] nomad-software commented on #364
We've done a few upgrades to our services and each has had problems. At least one of our services is now running 1.0.0 alpha as I did that the other day and noticed its version number.

Those linked gists are very useful and would probably be better done as part of https://docs.authlib.org/

[2021-07-19 01:07] lepture commented on #364
@nomad-software these links are on page https://docs.authlib.org/en/latest/changelog.html

e.g.

[code]

For each release, I will keep it backward compatible for at lease >=2 versions, and there will be a deprecate message. I think your problem is upgrading from an early version to a very new version. But Authlib has no new releases for a long time now.

[2021-07-19 04:05] jeffsawatzky opened #367 "How do I add a `kid` to the OIDC `id_token`?"
I would like to add a `kid` to the header of the OIDC `id_token` but I can't seem to figure out how to do so.
This is needed to be able to use the discovery keys endpoint which lists the public keys and their `kid`'s.

I'm using authlib 0.15.4

[2021-07-19 04:29] jeffsawatzky commented on #367
According to section 10.1 of the openid connect spec, a kid value MUST be specified in the JOSE header if there are multiple keys, which would be the case when we rotate our keys.

https://openid.net/specs/openid-connect-core-1_0.html#SigEnc

[2021-07-20 13:12] sergioisidoro opened #368 "Python 3.9 package is at least 6 months behind despite having newest version tag."
From my pipfile:

[code]

Version `0.15.4` seems to be the latest version released 3 days ago: https://github.com/lepture/authlib/releases/tag/v0.15.4

However, when checking the code in: `lib/python3.9/site-packages/authlib/oauth2/rfc7662/__init__.py` I see this:
[code]

Which is missing at least this commit: https://github.com/lepture/authlib/blame/master/authlib/oauth2/rfc7662/__init__.py#L16,

[2021-07-20 13:15] #368 closed

[2021-07-20 13:17] sergioisidoro commented on #368
Never-mind, `0.15.4` is still the latest version but does not contain `IntrospectTokenValidator`. I guess master is very much ahead of the stable.

[2021-07-21 00:54] natekspencer commented on #358
@lepture, any update on when this might be released? I'm running into this exact issue here

[2021-07-21 02:54] alexgolec commented on #358
This is updated in the most recent version. Please upgrade to 1.3.5 and
tell me if it’s still happening. Note the  workaround is to force an
earlier version, so it’s not strictly speaking fixed.

On Tue, Jul 20 2021 at 8:54 PM, Nathan Spencer ***@***.***>
wrote:

[2021-07-21 05:26] lepture commented on #368
@sergioisidoro please check https://github.com/lepture/authlib/tree/maintain-0.15

master code is for 1.0.0 releasing.

[2021-07-21 06:57] imdwq opened #369 ""state" is accidently passed to access token request in authorization code flow"
In the OAuth client `_retrieve_oauth2_access_token_params()` function I'm wondering why we're passing "state" to the OAuth server's token endpoint - the token endpoint is not expected to receive this parameter.

https://github.com/lepture/authlib/blob/45701441996b18452523105112d018c0f5f43a18/authlib/integrations/base_client/base_app.py#L127-L128

If my understanding is correct the "state" paramete

[2021-07-27 08:18] ashcherbakov opened #370 "Interested in a meaningful contribution?"
We've been working on a technology called [DIDComm](https://identity.foundation/didcomm-messaging/spec/). It makes heavy use of JWKs, JWEs, and JWSs. It's being done in FOSS in conjunction with the Decentralized Identity Foundation, Trust Over IP Foundation, and Linux Foundation. Eventually the spec that we're trying to implement is going to IETF.

After studying various python libs for JOSE, we h

[2021-07-29 08:48] lepture commented on #367
@jeffsawatzky I think this is a bug in current implementation.

[2021-08-04 20:56] natekspencer commented on #358
I don't see a version 1.3.5

The other issue I'm having is that I've developed a package that uses Authlib for use with HomeAssistant that is pinned to httpx version 0.18.2. So until a release of Authlib with the fix, my dependency is broken.

[2021-08-05 20:02] andrewzah commented on #334
Any plans for looking into this?

[2021-08-06 01:22] lepture commented on #334
This is fixed in Authlib 1.0.0a2. I'll fix it in 0.15 then.

[2021-08-06 01:23] lepture commented on #367
@jeffsawatzky this is already fixed in v1.0.0a2, it will pick a key from your JWKs randomly, and add the `kid` into `id_token`.

[2021-08-06 01:25] lepture commented on #364
@nomad-software did you check the changelog?

[2021-08-06 19:54] nomad-software commented on #364
Yeah, I had a look. It's very helpful, please continue this into the future. Thanks!

[2021-08-06 19:54] #364 closed

[2021-08-08 20:38] tyteen4a03 opened #373 "AsyncRemoteApp.fetch_access_token overwrites redirect_uri errornously"
I'm using FastAPI and setting up my client this way:

[code]

When I try to fetch a code from my Laravel Passport instance, it returns `invalid_request: The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed.`.

Upon some digging it looks like whereever I set my `redirect_uri`, in `AsyncRemoteApp.fetch_access

[2021-08-11 21:24] cjh1 commented on #199
I am seeing this with authlib=0.15.4 httpx=0.18.2

[code]

[2021-08-11 21:30] cjh1 commented on #199
My issue seems to be the same as #335

[2021-08-12 01:26] lepture commented on #370
@ashcherbakov thanks. You can put them in the `jose/drafts` folder.

[2021-08-13 12:50] dwt commented on #367
This may also help, I had to provide the JWT_CONFIG in all `dict` format, instead of as a `KeySet`, else the`kid` wasn't added to the generated `id_token`.

[code]

[2021-08-13 14:38] spivachuk commented on #370
Please review the following pull request adding ECDH-1PU (Draft 04) algorithm support to JWE:
https://github.com/lepture/authlib/pull/374

[2021-08-18 10:28] spivachuk commented on #370
Please review the pull request adding XC20P encryption algorithm:
https://github.com/lepture/authlib/pull/375

[2021-08-18 12:06] nl2412 opened #376 "CSRF Warning! State not equal in request and response"
**Describe the bug**

It happens when using authlib to configure Keycloak for Apache Superset. Everything works perfectly up until redirecting back from Keycloak to Superset.

**Error Stacks**

[code]

**To Reproduce**

A minimal example to reproduce the behavior:
This is my code:
In `superset_config.py`
[code]
In `extended_security.py`
[code]

**Expected behavior**

Suerpset redirect user to keyc

[2021-08-19 19:35] dnskr commented on #376
I have the same issue and error stack trace, but use google oidc.

**Environment**

- Airflow `2.1.2`
- Python `3.6.13`
- Authlib `0.14.3`   `0.15.2`  `0.15.3`   `0.15.4`   `1.0.0a1`   `1.0.0a2`

[2021-08-19 20:30] dnskr commented on #334
I reproduced the issue with Authlib 1.0.0a2 https://github.com/lepture/authlib/issues/376#issuecomment-902186146

[2021-08-20 21:27] timothyjlaurent opened #377 "httpx 0.18.x upgrade breaks addition of "Authorization" header"
**Describe the bug**

An application was upgraded to httpx 0.18.2 and we discovered that the "Authorization" header was no longer being included in the request.

**Error Stacks**

403 Errors from downstream services.

Trace Logging revealed that the Authorization header was missing.

**To Reproduce**
We use auth0 for our auth provider so have a custom JWT that sets the 'audience' parameter.

[code

[2021-08-20 21:31] timothyjlaurent commented on #377
@invitaeluc

[2021-08-27 04:34] elijahsgh opened #379 "Auth required after fetch_token with AsyncOAuth2Client"
**Describe the bug**

Documentation shows client.get, .post, etc being used immediately after client.fetch_token() but this does not seem to work.

**To Reproduce**
[code]
_**401 here**_

However, if you use:
[code]
_**200 here**_

**Expected behavior**

As per the docs suggest, I should be able to use .get, .post, etc immediately after using fetch_token() or maybe the docs should be updated for t

[2021-08-31 12:02] spivachuk commented on #370
Please review the pull request adding JSON serialization and multi-recipient support to JWE:
https://github.com/lepture/authlib/pull/380

[2021-09-03 13:20] vanschelven opened #381 "Documentation of AUTHLIB_OAUTH_CLIENTS unclear"
The [documentation for Django configuration](https://docs.authlib.org/en/v0.15.4/client/django.html#configuration) contains the following quote:

but this suggestion is not motivated.

I'm in a setup where I have different settings for different environments, and these differences are manifested in (some version of) `settings.py`, i.e. they will ultimately end up in `AUTHLIB_OAUTH_CLIENTS`

If I k

[2021-09-09 21:11] twelvelabs commented on #379
Dupe of #377

[2021-09-09 21:21] twelvelabs commented on #377
The breaking change was introduced in httpx 0.18.2, so any version prior to that should still be good. The culprit is this PR: https://github.com/encode/httpx/pull/1634 - authlib makes use of `httpx._config.UNSET` here to determine whether or not to include the auth token:

https://github.com/lepture/authlib/blob/v0.15.4/authlib/integrations/httpx_client/oauth2_client.py#L84-L92

It looks like thi

[2021-09-09 21:27] elijahsgh commented on #379
Is this a dupe, @twelvelabs ? I reviewed that and while the workaround technically works there is a much easier work around above involving just assigning the .auth member.

It does work and I don't have to set the header unless assigning .auth sets a header?

I don't believe this is the same issue.

[2021-09-09 21:37] twelvelabs commented on #379
Both issues are caused by the same underlying problem (see [this comment](https://github.com/lepture/authlib/issues/377#issuecomment-916445792)) - a version incompatibility between newer versions of httpx and authlib.

[2021-09-10 05:12] lepture commented on #377
@twelvelabs yeah. Please send PR to `maintain-0.15`.

[2021-09-17 12:04] mariajgrimaldi opened #384 "Django 3.2 support"
Hi there! @lepture

I'm reaching out as part of the Open edX effort to update the platform to Django 3.2, `authlib` is one of its dependencies to be updated. [Here](https://github.com/edx/upgrades/issues/56) is the issue!

After some research, I found you already support Django 3.2 in master, and a new version bump is needed to install it via PyPI.

What can we possibly do to help move this forwar

[2021-09-18 01:40] nelson-lark commented on #376
Same problem, but using AWS Cognito.

[2021-09-19 10:30] lepture commented on #384
We have beta release for Authlib 1.0.0:

https://pypi.org/project/Authlib/#history

[2021-09-19 14:24] lepture commented on #376
@dnskr did you get this error with Authlib 1.0.0a2 ? How to reproduce it? I should have fixed this case in 1.0.0.

[2021-09-20 12:41] mariajgrimaldi commented on #384
Thank you!! @lepture

[2021-09-21 08:12] MilanRgm commented on #376
I am also getting `oauth error mismatching_state: CSRF Warning! State not equal in request and response.`

I used both 0.15.4 and 1.0.0a2 version of Authlib.

[code]

From frontend the following url is hit once authorize button is clicked to reach to /auth/gitlab function as I have used `redirect_uri` as `http://localhost:8888/auth/gitlab`

`"GET /auth/gitlab?code=asdkjfasdjfkasdjkfasjdkjlsadajk&s

[2021-09-22 04:21] MilanRgm commented on #376
@lepture I tried your fastapi example and it is not working as well. Although, I am using gitlab instead of google. I am getting `python TypeError: Invalid type for url. Expected str or httpx.URL, got <class 'NoneType'>: None` issue.

[2021-09-23 20:44] jeff-bonevich commented on #346
I am still experiencing this using Flask 2.0.1, authlib 0.15.4, python 3.7.3

[2021-09-23 22:19] spock opened #386 "on event.headers.raw_items : AttributeError: 'list' object has no attribute 'raw_items'"
_I have now solved the issue, posting to document and to save someone else lots of time. Solution is in the first comment below._

**Describe the bug**

When following the Facebook OAuth example (can't), Authlib versions 0.15.2-0.15.4 (with `httpx` pinned at 0.18.1) produces the stack trace (below) upon receiving an authentication callback from Facebook.

**Error Stacks**

[code]

**To Reproduce**

[2021-09-23 22:22] spock commented on #386
For some reason, `parse_id_token` didn't work for us, but replacing this line
[code]

with

[code]
did fix the issue.

[2021-09-23 22:22] #386 closed

[2021-09-24 04:44] lepture commented on #386
`.parse_id_token` is used to parse `id_token`, which is an OpenID connect thing. Facebook doesn't support OpenID connect.

[2021-09-24 04:45] lepture commented on #346
@jeff-bonevich try the beta release: 1.0.0b1

[2021-09-24 05:17] MilanRgm commented on #386
Does gitlab also not support openID connect? Because, I am also getting issue when I do `user = await gitlab.parse_id_token(request, token)`

[2021-09-24 21:40] jeff-bonevich commented on #346
@lepture  that did it! thanks for answering a n00b :)

[2021-09-24 22:27] rushilsrivastava opened #387 "Key Error: 'id_token' on Starlette"
**Describe the bug**

The Async OpenID integration does not work in the v1 builds.

**Error Stacks**

[code]

See additional error stack in https://github.com/authlib/demo-oauth-client/issues/17

**To Reproduce**

[code]

See additional example in https://github.com/authlib/demo-oauth-client/issues/17

**Expected behavior**

As @sondrelg found, I think the problem is in the way that authlib is rea

[2021-09-26 02:29] lepture commented on #387
@rushilsrivastava from my understanding, you don't need to parse_id_token manually.

https://github.com/lepture/authlib/blob/b8f7cc7b709a5222591ee7d56954b6e893696fa4/authlib/integrations/starlette_client/apps.py#L65-L70

There will be a `userinfo` in the token when `authorize_access_token`

[2021-09-27 01:41] rushilsrivastava commented on #387
Yes, you are right. Sorry, this is not a bug in the code but in the documentation - should have taken a closer look there.

I think the documentation for 1.0.0 needs to be updated as well: https://docs.authlib.org/en/latest/client/starlette.html

[2021-09-27 01:41] #387 closed

[2021-09-27 14:09] jaap3 commented on #384
We've been using the beta with Django 3.2 for a while now, with no issues. While testing the project with Django 4.0a1 however we noticed `authlib` uses a method that has been removed in Django (without deprecation) because it is considered insecure (https://code.djangoproject.com/ticket/32698#comment:11).

I created a PR that should fix that (#385).

[2021-09-28 07:47] ashcherbakov commented on #370
@lepture Thank you for accepting all our contributions. Do you have any plans to create a new release that will contain all these changes?

[2021-09-28 09:01] janwijbrand opened #389 "Allow overriding the signing algoritm used for JWT client assertion"
**Is your feature request related to a problem? Please describe.**

I'd like to have control over the signing algoritms used for the JWT client asserstion authentication variants. The current API doesn't allow to override the default `RS256`, even thought the lower-level signing helper functions are parameterized.

**Describe the solution you'd like**

When setting up an `PrivateKeyJWT()` instance

[2021-09-28 10:29] janwijbrand opened #391 "Allow passing in additional header to the JWT client assertion"
I'd like to pass in addtional JWT headers into the client assertion, such as the `kid` so the recipient of the token can find the corresponding key at the registered JWKS endpoint.

**Describe the solution you'd like**

When setting up an `PrivateKeyJWT()` instance to register as client auth method, I'd like to pass in additional JWT headers such as the `kid`.

I'll reference a PR that implements

[2021-10-01 15:57] ashcherbakov commented on #370
@lepture
We are planning to present the library we've been implementing ([DIDComm](https://github.com/sicpa-dlab/didcomm-python)) on a conference on Oct 12. That library depends on the authlib with the new JOSE features we contributed.
We would really appreciate a release of authlib with recent JOSE changes by Oct 12, so that we can have a release of our lib depending on authlib from pypi.

[2021-10-04 07:44] azmeuk commented on #346
If 1.0.0 is not ready yet, I would suggest backporting this patch for a 0.15.5 as there is presently no workaround for this, except downgrading flask, and this is not always possible.

What do you think @lepture ?

[2021-10-05 09:23] m-aciek commented on #346
Pull request with the back port: https://github.com/lepture/authlib/pull/371.

[2021-10-18 12:16] #379 closed, assigned to lepture

[2021-10-18 12:18] lepture commented on #389
merged

[2021-10-18 12:18] #389 closed

[2021-10-18 12:52] lepture commented on #367
@jeffsawatzky It is not easy to fix in 0.15.x. This is already fixed in master code. Currently you can use `v1.0.0b1` release. I'll focus on releasing v1.0.0 in next month.

I'm using the beta release of v1.0.0 myself in [Typlog](https://typlog.com/). I'll close it.

[2021-10-18 12:52] #367 closed

[2021-10-18 12:55] lepture commented on #359
There is no `refresh_token` method in framework integrations. Which means Flask, Django, and Starlette have no `refresh_token` method. These framework integrations will refresh the token automatically if the token is expired.

To use `refresh_token` method manually, you can use httpx or requests client.

[2021-10-19 11:42] nam3less opened #394 "httpx integration: add support for other async backends"
**Is your feature request related to a problem? Please describe.**

At the moment authlib's httpx integration only supports the default asyncio backend (i.e. usage of asyncio.Event in AsyncOAuth2Client). But httpx supports multiple backends (asyncio, trio, curio, anyio)[^1]

As a user I'd expect a library claiming to integrate with another lib to support the same environments.

**Describe the solu

[2021-10-22 20:29] mattdeutsch opened #396 "Not compatible with cryptography 35.0.0"
**Is your feature request related to a problem? Please describe.**

The beta (version 1.0.0b1) is incompatible with the most recent version of cryptography, since they've just revamped their versioning scheme, so instead of going from 3.4.x to 3.5.x, they're going from 3.4.x to 35.0.x. The authlib beta is incompatible with this version, but cryptography 35.0.0 is very similar to 3.4.x, so simply c

[2021-10-27 03:26] #396 closed, assigned to nobody

[2021-10-27 18:33] jtl1990 opened #397 "AsyncHTTPTransport support"
When initializing `AsyncOAuth2Client`, it doesn't seem like `transport=AsyncHTTPTransport` is supported as it's not part of the supported kwargs.

https://github.com/lepture/authlib/blob/2e3a777843f63d8f309f4e6c4b82ecbea5ff46d8/authlib/integrations/httpx_client/oauth2_client.py#L60
https://github.com/lepture/authlib/blob/169c7dcfc47478c8d55553cc95fb0f5578162b77/authlib/integrations/httpx_client/ut

[2021-10-28 19:35] DrMcTaco opened #398 "Basic Auth not supported on GHE access token endpoint"
**Describe the bug**

GitHub Enterprise's OAuth flow does not support Basic Auth on the endpoint to retrieve an access token ([docs](https://docs.github.com/en/enterprise-server@2.22/developers/apps/building-oauth-apps/authorizing-oauth-apps#2-users-are-redirected-back-to-your-site-by-github)).  It expects the `client_id` and `client_secret` to be part of the request body.

If the temporary code f

[2021-10-29 03:29] #398 closed, assigned to lepture

[2021-10-29 04:04] #397 closed, assigned to nobody

[2021-11-02 21:49] dcs3spp commented on #359
Thanks @lepture, is this referenced in the docs anywhere?

[2021-11-03 16:38] cochiseruhulessin opened #400 "parse_id_token() returns None"
**Describe the bug**

The method `parse_id_token` returns `None`, even though the client is properly configured and the response of the IDP is valid.

**To Reproduce**

Code:

[code]

JSON serialized output of `authorize_access_token()`:

[code]

**Expected behavior**

The return value of `parse_id_token` is not `None`

**Environment:**

 - OS: Mac OS
 - Python Version: 3.9
 - Authlib Version: `1.

[2021-11-03 16:49] cochiseruhulessin commented on #400
Tracing this down, at least this example in the docs at https://docs.authlib.org/en/latest/client/django.html is wrong:

[code]

The signature of the function is:

[code]

Authentication could be succesfully completed by changing the way the method is invoked, however without verifying the `nonce` claim:

[code]

[2021-11-16 08:20] jerome-poisson commented on #376
Hello,

we have the same issue while calling `authorize_access_token()` for Google, and it was working fine a while ago.

* Python `3.6.15`
* Authlib `0.15.5`

[2021-11-16 11:42] lepture commented on #400
Sorry about the documentation. I've fixed the documentation.

You don't need to call `parse_id_token` yourself, `userinfo` is already in `token` now:

[code]

[2021-11-17 12:39] shadydealer opened #403 "RuntimeError: Missing "jwks_uri" in metadata"
**Describe the bug**

Started happening once I tried upgrading from 0.15.5 to any of the pre-release versions.

I'm using Auth0 on a client flask application and I've registered it like so:

[code]

That last line `auth0.authorize_access_token()` started throwing `RuntimeError: Missing "jwks_uri" in metadata`

it seems that the server_metadata is missing, from what I managed to find out.

**Error

[2021-11-20 04:28] mm0 opened #404 "Httpx integration DeprecationWarning"
https://github.com/lepture/authlib/blob/07ddb191a59a7329c90fcc46b066a65730cf8767/authlib/oauth2/client.py#L346

When using the integration `httpx_client.oauth2_client`, a `str` `body` param, should actually be passed as `content=body` instead of `data=body` otherwise this DeprecationWarning is output:

https://github.com/encode/httpx/blob/master/httpx/_content.py#L170-L179

[2021-11-24 01:10] lepture commented on #403
@shadydealer since `openid` is in scope, it is an OpenID Connect service. You can provide `jwks_uri` in `oauth.register()`.

[2021-11-24 01:11] #400 closed

[2021-11-27 17:11] lepture commented on #403
@shadydealer can you update your code that I can reproduce the problem?

[2021-11-29 05:38] #404 closed

[2021-11-30 14:26] shadydealer commented on #403
Of course, here it is:

[code]

the `AUTH0_SERVER_METADATA_URL` value is `https://YOUR_TENANT_NAME.YOUR_TENANT_REGION.auth0.com/.well-known/openid-configuration`

[2021-11-30 16:22] lepture commented on #403
Your new error is at `resp = auth0.get("userinfo")`. This request contains no token, you need to pass a `token` or define the `fetch_token` parameter.

https://docs.authlib.org/en/latest/client/frameworks.html#fetch-user-oauth-token
https://docs.authlib.org/en/latest/client/flask.html#accessing-oauth-resources

Note: you don't need to pass `request` in Flask.

[2021-12-04 07:35] akam-it opened #408 "authorize_access_token broken POST?"
Hello, I'm really not sure if it is a bug, but when I am trying to use authorize_access_token there is no params in POST body, as I understand they are sending in a new TCP packet (see a tcpdump picture)?

[code]

I've started tcpdump and can see this:
![image](https://user-images.githubusercontent.com/1487709/144701688-6ba4c20f-c26c-46ba-8d2c-436063d19c40.png)

I think it should be something like

[2021-12-04 14:11] lepture commented on #408
Not sure what you are printing. It looks like the payload is encoded. Maybe it is because:

[code]

[2021-12-04 15:06] akam-it commented on #408
hm, I didn't set any additional headers, this code that I've posted is all logic, I just get it from the documentation. I have route /zoom_login -> def zoom_login and /zoom_authorize -> def zoom_authorize.
I go to zoom_login it redirects me to authorize_url='http://zoom.us/oauth/authorize' and after this it is redirects me to /zoom_authorize. and this POST query is generated by authorize_access_to

[2021-12-06 16:03] fredthomsen commented on #245
@aFluxx I have the same question as @verdan.  I am having issues getting this functioning in flask.

[2021-12-07 09:25] tan-i-ham opened #409 "in v0.15.5, flask_client do not contain UserInfo in `authorize_access_token()` method"
I used pipenv to install authlib, the lastest version is `v.0.15.5`
however, when I read the document, it said
[code]
but when I look into the source code of authlib, I don't think it contains the UserInfo

https://github.com/lepture/authlib/blob/d8e428c9350c792fc3d25dbaaffa3bfefaabd8e3/authlib/integrations/flask_client/remote_app.py#L67

is the source code in the master branch will be tagged in t

[2021-12-07 11:41] jonas-weismueller-by opened #410 "attributes shall be resolveable on registered clients"
**Is your feature request related to a problem? Please describe.**

When I register a client like:

[code]

and I access it via:
`oauth.example.authorize_redirect(request, redirect_uri)`

the attribute "authorize_redirect" is not resolvable via my editor (VSCode) and Pylance complains
`"authorize_redirect" is not a known member of "None".`

**Describe the solution you'd like**

Registered clients

[2021-12-08 10:52] hscholz opened #411 "Allow custom CA bundle to be set for the whole OAuth2Session and being registered using oauth.register()"
**Is your feature request related to a problem? Please describe.**

I'm having a flask application which is integrating via OIDC with an OIDC provider which has a custom certificate. Currently there is no way to provide a CA bundle for `RemoteApp.load_server_metadata()`.

**Describe the solution you'd like**

Enable the configuration of the CA bundle for the whole `OAuth2Session` and the `RemoteAp

[2021-12-12 15:54] saeedesmaili commented on #400
Is this also true for fastapi and starlette? Their documentation says the same (to use parse_id_token):
https://docs.authlib.org/en/latest/client/starlette.html
https://docs.authlib.org/en/latest/client/fastapi.html

[2021-12-13 08:56] shadydealer commented on #403
the code is now:

[code]

and it is working, thanks!

But I was wondering why isn't the function you've described in https://docs.authlib.org/en/latest/client/frameworks.html#fetch-user-oauth-token the default value for the `fetch_token` param?

And maybe I'm wrong to assume that, but don't most omniauth providers declare their `server_metadat_url` as:

https://some_omniauth_provider.com/.well-kno

[2021-12-13 08:56] #403 closed

[2021-12-13 10:06] lepture commented on #403
https://accounts.google.com/.well-known/openid-configuration

[code]

[2021-12-13 10:08] lepture commented on #400
@saeedesmaili thanks. I need to update docs for starlette too.

[2021-12-13 11:12] saeedesmaili commented on #400
If it's possible, it'd be great to also update this article:
https://blog.authlib.org/2020/fastapi-google-login
It's a very popular article and well indexed in Google (I got familiar with Authlib with a Google search and found this article), and I thins the article is the source that most people use it for the first time.

[2021-12-13 14:41] saeedesmaili opened #412 "Parse id_token returned from google-one-tap"
I'm trying to use [google-one-tap][1] to authenticate users in the frontend. When a user performs the authentication and it's successful, it returns the following data:

[code]
I can verify `data["credential"]` on Google side (using [this id_token endpoint][2]), and
the output is user's information.

Is there a way to use Authlib and parse this id_token and verify it, and not use the Google's endp

[2021-12-16 10:13] nikhil003 commented on #376
@jerome-poisson , I am encountering an issue similar to yours. I noticed that the session is being reset between requests which leads to this mismatch error. Do you know how I can sort out the session resetting?

In my case, the second request is the call back which has different data in the flask session, so I am not sure where authlib is updating the session values.

[2021-12-17 12:34] SalahuddinX commented on #224
@lepture I am trying to implement introspection on client side suing Okta as my authorization server but continuously getting error
`{"error": "missing_authorization", "error_description": "Missing \"Authorization\" in headers."}`

My Implementation
[code]
I have been trying to resovle this for a while but could not succeed

[2021-12-19 11:30] SalahuddinX opened #413 "Introspection Resource Authentication problem"
@lepture I am trying to implement introspection on client side suing Okta as my authorization server but continuously getting error
`{"error": "missing_authorization", "error_description": "Missing \"Authorization\" in headers."}`

My Implementation

[code]

I have been trying to resovle this for a while but could not succeed

[2021-12-21 14:33] jerome-poisson commented on #376
hi @nikhil003 the issue was on our side with cookie management, and at the end it was not a problem with authlib as I was initially suspecting. Thus there is little I can do here, sorry.

[2021-12-31 17:37] lepture commented on #400
@saeedesmaili thanks, updated.

[2021-12-31 17:41] lepture commented on #412
@saeedesmaili `id_token` is just JWT, you can use `authlib.jose` to validate it. Check our source code to learn how to use it:

https://github.com/lepture/authlib/blob/169c7dcfc47478c8d55553cc95fb0f5578162b77/authlib/integrations/base_client/sync_openid.py#L32-L77

[2022-01-12 22:12] #394 closed

[2022-01-14 06:48] lepture commented on #413
https://stackoverflow.com/questions/70411084/implementing-introspection-validation-from-okta-using-authlib-in-python-flask-ap

[2022-01-14 06:48] #413 closed

[2022-01-14 06:52] lepture commented on #410
You can use:

[code]

Your editor should be able to inspect in this way.

[2022-01-14 06:52] #410 closed

[2022-01-14 06:53] lepture commented on #409
@tan-i-ham Please check `v0.15` documentation. The master documentation is for `1.0.0` code.

[2022-01-14 06:53] #409 closed

[2022-01-14 06:55] lepture commented on #370
`1.0.0rc1` is released.

[2022-01-16 23:29] rushilsrivastava opened #419 "Occasionally getting value=None on get_state_data on OAuth"
**Describe the bug**

I am intermittently getting random errors where `value` is `None` in `get_state_data`.

**Error Stacks**

**Google:**
[code]

**LinkedIn:**
[code]

**To Reproduce**

I have been unable to find a way to consistently replicate a test environment, but my suspicion this is on reauthorization flows.

**Expected behavior**

State data should be retrieved correctly or pass through.

[2022-01-19 06:20] danlamanna opened #420 "Handle PKCE pair generation"
**Is your feature request related to a problem? Please describe.**

To perform an OAuth2 auth code + PKCE flow the client needs to create their own PKCE code verifier and pass it through, such as:
[code]

authlib already does the hashing and comparison, so generation seems like an appropriate addition.

**Describe the solution you'd like**

If passing a code challenge method, it would be nice if a

[2022-01-19 23:15] lepture commented on #420
Authlib is already handling PKCE for you:

https://github.com/lepture/authlib/blob/master/authlib/oauth2/client.py#L143-L145

[code]

I'll update this in OAuth 2 Session documentation.

[2022-01-19 23:36] lepture commented on #420
Here are the docs:

- https://docs.authlib.org/en/latest/client/oauth2.html#add-pkce-for-authorization-code
- https://docs.authlib.org/en/latest/client/frameworks.html#oauth-2-0-code-challenge

[2022-01-19 23:36] #420 closed

[2022-01-20 05:53] danlamanna commented on #420
Thanks for adding to docs! PKCE seems overlooked by so many libraries that it's nice to see Authlib supports it well.

What I was suggesting is that Authlib handle it without the user having to provide a token *at all*. The token has to be a certain length, it needs to be urlsafe, and it needs to be generated securely. It seems like several opportunities for an end user to make a mistake and gener

[2022-01-20 09:46] lepture commented on #420
@danlamanna Because you need to use that `code_verifier` later in `fetch_token`. In our web framework integrations, this `code_verifier` will be generated automatically, because in web framework we have `cache` or `session` to remember those values.

The `48` length is just a number came out of my mind. Not a big thing.

[2022-01-22 14:57] ikazame commented on #294
I also faced the same problem where the request_toekn was not saved in the framework.session.
I found out that the reason was that I had set the Callback URI as "127.0.0.1", even though I was hosting the app on "localhost".
If anyone else is having the same problem, please check this cause as well.

[2022-01-23 10:23] alex-kowalczyk opened #422 "Starlette integration does not allow to properly configure inner client options"
A double "client" layers when using Starlette integration is confusing and makes tedious to configure underlying 'real' httpx async client.

A sample code below displays a few problems:
[code]

Problems:
1. `OAuth.create_client` confusingly creates StarletteRemoteApp, not the actual client
2. There is no explicit way to pass-through any httpx options to the actual client. The actual client is crea

[2022-01-25 15:47] kaktusss123 commented on #376
Encountering the same issue. What's the solution??

[2022-01-27 10:30] Neykuratick commented on #376
same

[2022-01-28 15:14] V02460 opened #423 "Backport fix to support Django 4"
Authlib 0.15.5 does not work with Django 4 due to the removal of `HttpRequest.get_raw_uri`. This is already fixed in master via https://github.com/lepture/authlib/commit/b3847d89dcd4db3a10c9b828de4698498a90d28c. Please backport the fix.

**To Reproduce**

With the latest release 0.15.5, run `tox -e py38-django` and see tests failing.

**Expected behavior**

All tests pass.

**Environment:**

 - OS

[2022-01-31 22:19] MrNaif2018 opened #424 "`userinfo_compliance_fix` seems to be not called anymore"
**Describe the bug**

Hello, thank you very much for your project!

The docs at https://docs.authlib.org/en/latest/client/frameworks.html#userinfo-endpoint state that I can use `userinfo_compliance_fix` to normalize userinfo data. But I noticed that it is not called for me

**Error Stacks**

None

**To Reproduce**

Supply `userinfo_compliance_fix` function, either sync or async, it doesn't get cal

[2022-02-02 13:25] lepture commented on #424
Oh, it is removed on purpose. I'll update the documentation.

[2022-02-08 01:41] haoyun opened #425 "Do I have to use `SessionMiddleware` with OAuth2 and Starlette?"
According to the documentation: [Enable Session for OAuth 1.0](https://docs.authlib.org/en/latest/client/starlette.html#enable-session-for-oauth-1-0), `SessionMiddleware` is required for OAuth 1.0. **Is it also required for OAuth 2.0?**

It seems also that in the code there is a `self.cache`  and when `session == None`, the `state` would be saved in `self.cache`.

https://github.com/lepture/authli

[2022-02-09 14:49] adamjmcgrath commented on #89
It's now covered in https://datatracker.ietf.org/doc/html/rfc9068 - would you be interested in a PR @lepture?

[2022-02-11 19:20] azmeuk opened #426 "`/.well-known/webfinger` endpoint"
The [OpenID Connect discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery) specification second paragraph is about issue domain discovery based on the [RFC7033](https://datatracker.ietf.org/doc/html/rfc7033) webfinger.

Would it be relevant for authlib to provide helpers to implement this endpoint?

The main issue I can see is that this endpoint must be served at th

[2022-02-13 19:55] azmeuk opened #427 "RFC9068: JWT access token"
Currently we can use `OAUTH2_ACCESS_TOKEN_GENERATOR` to customize access token generation, so this is not too hard to generate JWTs by re-using mechanisms in [generate_id_token](https://github.com/lepture/authlib/blob/169c7dcfc47478c8d55553cc95fb0f5578162b77/authlib/oidc/core/grants/util.py#L60).

However the recent [RFC9068](https://www.rfc-editor.org/rfc/rfc9068.html) standardize the claims the

[2022-02-14 04:03] rushilsrivastava commented on #376
Previously, I would get a state issue from #419 on Starlette. This seems to be the problem I am running into now.

[2022-02-15 02:40] rushilsrivastava commented on #376
After some further investigation: The easiest way for me to consistently reproduce this is to use Google OIDC, and this happens after the 5th continuous re-authentication.

It seems as if during these cases, `state_data` is `None` https://github.com/lepture/authlib/blob/1089d5441c8e780a5165ca859b289fc8485ec5eb/authlib/integrations/starlette_client/apps.py#L72

Which led me to check the `session` m

[2022-02-15 02:56] rushilsrivastava commented on #376
I've put up a PR to fix this behavior: https://github.com/lepture/authlib/pull/428

[2022-02-19 04:26] jonathonfletcher opened #429 "seeking authlib.integrations.quart_client"
**Is your feature request related to a problem? Please describe.**

I am migrating a project from [Flask](https://flask.palletsprojects.com/en/2.0.x/) to [Quart](https://pgjones.gitlab.io/quart/) - Quart being an asyncio reimplementation of the Flask api.

The migration is solely a python sync to python async migration. No functionality changes, just the adoption of async via migration from Flask

[2022-02-21 15:08] jaap3 opened #431 "Suggest constant time comparison for client_secret"
`ClientMixin` has the following example code:

[code]

When naivly implemented like this, could this be a vector for timing attacks?

Should the use of `secrets.compare_digest` / `hmac.compare_digest` be suggested here instead?

[2022-02-24 17:40] abompard opened #432 "TokenValidator.scope_insufficient seems wrong"
There's been changes in [TokenValidator.scope_insufficient()](https://github.com/lepture/authlib/blob/1089d5441c8e780a5165ca859b289fc8485ec5eb/authlib/oauth2/rfc6749/resource_protector.py#L33) to support nested required scopes, but I think it introduces a bug.

[code]
This seems wrong, since the token does not have all the required scopes. The reason is that now the function is looping over the re

[2022-02-28 01:17] lepture commented on #431
@jaap3 great. You can send a PR for this doc string.

[2022-02-28 01:29] lepture commented on #427
@azmeuk How about adding it to `oauth2.rfc9068` package? Can you send a PR for this feature?

[2022-03-02 07:52] lepture commented on #432
if `required_scopes` is a list, it will use OR logic. To use AND logic, you can use:

[code]

[2022-03-02 08:01] #432 closed

[2022-03-06 19:58] azmeuk commented on #427
I won't probably have time to spent on this feature in a near future.

[2022-03-10 12:43] noxizcm opened #434 "google oauth Blueprint is not working with Flask Lazily Loading Views"
RuntimeError: OAuth is not init with Flask app.

only google Blueprint is throwing this error the rest works fine
when I use it with the decorators everything works fine
and it is only with this one that I have this error. facebook github, discord work without problems and are structured in the same way

[code]
[code]

 - OS: Windows
 - Python Version: 3.10
 - Authlib Version: 1.0

[2022-03-11 05:44] #431 closed

[2022-03-14 17:12] pieterlukasse opened #436 "Are you aware that another project shows up as dependency in many projects instead of your project?"
**Describe the bug**

See this project: https://github.com/jessethegame/python-authlib

Notice it is unknown, virtually no forks or stars.
Then go to https://github.com/jessethegame/python-authlib/network/dependents . Should these 21K projects be linking to your project instead? I think so!

[2022-03-15 09:20] lepture commented on #436
This is GitHub's bug, not mine.

[2022-03-15 09:24] pieterlukasse commented on #436
I know, but it affects your project, no? I just thought I'd let you know, so you can follow-up in whatever way you think is best, including closing this ticket!

[2022-03-15 09:32] Guo-Zhang commented on #436
@pieterlukasse  Maybe you can report this problem for @lepture if you would like to help him.

[2022-03-15 09:32] lepture commented on #436
Thanks. I've reported this issue to GitHub.

[2022-03-15 10:06] #436 closed, assigned to lepture

[2022-03-15 10:28] #408 closed

[2022-03-15 10:30] lepture commented on #89
@adamjmcgrath yes, please.

[2022-03-15 14:28] lepture commented on #436
Added a `setup.py` file to fix this problem.

[2022-03-16 14:08] jaap3 opened #438 "authenticate_none fails if an empty client_secret parameter exists"
**Describe the bug**

`authenticate_none` fails if an empty `client_secret` request parameter exists

**Error Stack**

[code]

**To Reproduce**

Register an `AuthorizationCodeGrant` with `TOKEN_ENDPOINT_AUTH_METHODS = ['none']`

[code]

**Expected behavior**

I expect `authenticate_none` to ignore an empty `client_secret` parameter

According to [the specification](https://datatracker.ietf.org/doc

[2022-03-17 04:42] kurian-dm commented on #376
Did the issue get fixed.

[2022-03-17 18:26] jaap3 opened #439 "OpenIDCode documentation omits grant argument for get_jwt_config"
The documentation for [OpenIDCode](https://docs.authlib.org/en/latest/specs/oidc.html#authlib.oidc.core.grants.OpenIDCode) doesn't mention the `grant` argument for `get_jwt_config`.

The example implementation fails with a

`TypeError: get_jwt_config() takes 1 positional argument but 2 were given`

[2022-03-18 14:42] lepture commented on #439
Thanks, fixed.

[2022-03-18 14:42] lepture commented on #439
Thanks, fixed.

[2022-03-18 14:42] #439 closed

[2022-03-18 14:43] lepture commented on #438
Thanks, fixed.

[2022-03-18 14:43] #438 closed

[2022-03-18 14:43] #376 closed

[2022-03-18 14:43] lepture commented on #334
fixed in 1.0.0

[2022-03-18 14:43] #334 closed

[2022-03-18 14:44] lepture commented on #419
fixed in 1.0.0

[2022-03-18 14:44] #419 closed

[2022-03-19 17:59] kurian-dm opened #441 "CSRF Warning! State not equal in request and response airflow -keycloak"
**Describe the bug**

It happens when using authlib to configure Keycloak for Airflow. Everything works perfectly up until redirecting back from Keycloak to Airflow.

**Error Stacks**

[code]

**To Reproduce**

A minimal example to reproduce the behavior:
This is my code:
      import os
      import json
      import logging

      from flask import session
      from airflow.www.security import

[2022-03-19 20:15] sorasful commented on #376
@lepture  Hi there! I've tried the 1.0.0 version just now, and it seems the issue persists with Google Oauth2.

[code]

My stacktrace :

[code]

[2022-03-19 22:04] rushilsrivastava commented on #376
@sorasful try clearing the session cookie and try again. If you use the session cookie for other things, that may also be causing problems.

[2022-03-22 16:34] rorour opened #443 "Supplying api_base_url to OAuth2Session client has no effect"
**Describe the bug**

When instantiating a new `authlib.integrations.requests_client.OAuth2Session`, and supplying `api_base_url` to the constructor, `api_base_url` isn't used when making requests (ex `client.get('some/resource')`.)

**Error Stacks**
[code]

**To Reproduce**
We know there is a Flask OAuth client, and our example below doesn't use it, but uses Flask to create an easy, reproducible

[2022-03-22 16:34] rorour opened #444 "Confusing behavior with OAuth2Session and state not being checked"
**Describe the bug**

In the [documentation](https://docs.authlib.org/en/latest/client/oauth2.html#fetch-token) for how to use OAuth2Session client, it says that by supplying state when instantiating the object, then state will be checked when making the `fetch_token` request. In addition, the [docstring](https://github.com/lepture/authlib/blob/v1.0.0/authlib/oauth2/rfc6749/parameters.py#L131) for

[2022-03-22 16:35] rorour commented on #444
I'm happy to submit a patch if you agree that this is a bug.

[2022-03-22 23:20] bundabrg opened #445 "Security issue checking AUD when its falsey"
**Describe the bug**

If a passed in 'aud' is an empty list [] then it will not be validated yet will still pass the essential claims validation as the checks are performed in two different ways. This may extend to other claims as well.

**To Reproduce**

[code]

**Expected behavior**

An exception should be raised in validate_aud(). I'm not sure if one should be raised when checking essential cla

[2022-03-28 02:00] lepture commented on #443
There is no `api_base_url` in `OAuth2Session`. `api_base_url` is defined for Flask, Django frameworks: https://docs.authlib.org/en/latest/client/frameworks.html

[2022-03-28 21:28] relsunkaev commented on #307
In my use case, getting the key requires making a call with the `kid` using async API bindings. I don't want to have to start up another loop in another thread so being able to get an unverified header would be very useful.

[2022-03-31 21:02] kurian-dm commented on #441
Hi,

Any updates on this issues

Thanks

[2022-04-04 15:46] kurian-dm commented on #441
Hi,

You will need an AWS account. In that create a VPC. Install a EKS cluster and install Keycloak which runs on an ECS container. Airflow has to be installed on Kubernetes using  helm charts.

If this is not possible for you, can we have a screen sharing session or I can even share additional logs. I have enabled FAB additional logging for airlfow. This shows that authorization is happening and

[2022-04-05 00:35] lepture commented on #444
@rorour yeah. Please submit a PR.

[2022-04-06 03:15] troyharvey opened #448 "Error returning OAuth user info: missing_token"
**Describe the bug**

After upgrading to `airflow=2.2.5` and `authlib=1.0.0` we are seeing a `missing_token` error in `flask_appbuilder.security.views`. As a workaround, we downgraded `authlib` and it's working again, but Airflow constraints are pegged at 1.0.0 so the downgrade is a temporary hack.

**Error Stacks**

[code]

**To Reproduce**

Reproducing this requires Airflow 2.2.5, authlib 1.0.0,

[2022-04-06 06:17] lepture commented on #448
It is very hard to review the code in a super big project. Can you provide a minimal reproducible example?

[2022-04-06 07:19] KrYpTeD974 opened #449 "The nonce is not included in the authorization url if "openid" is not the first scope"
**Describe the bug**

The nonce is not included in the authorization url if "openid" is not the first scope because it only checks if the scope `startswith` openid

**To Reproduce**

A minimal example to reproduce the behavior:

**Expected behavior**

The nonce should be included in the authorization url even if it is not the first scope.

**Environment:**

 - OS: Windows 10
 - Python Version: 3.9

[2022-04-06 08:38] #449 closed

[2022-04-06 09:53] lepture commented on #448
This may be fixed by the given commit. Can you verify it with the master code? I'll make a new release in 2 days.

[2022-04-06 11:34] lepture commented on #425
This is certainly a bug.

[2022-04-06 11:34] lepture commented on #425
It is already fixed in https://github.com/lepture/authlib/commit/1089d5441c8e780a5165ca859b289fc8485ec5eb

[2022-04-06 11:35] #425 closed

[2022-04-06 11:57] lepture commented on #448
v1.0.1 was released.

[2022-04-06 11:57] #448 closed

[2022-04-06 11:57] lepture commented on #445
v1.0.1 was released.

[2022-04-06 11:57] #445 closed

[2022-04-07 03:26] troyharvey commented on #448
Thank you for the quick work! This solves our issue in Airflow. 🙇

[2022-04-11 21:21] jmhodges-color opened #451 "operational issues around requests.Sessions though Django integration"
Thanks so much for the work on authlib. We came to using it from Auth0's recommendation. Now that we've been operationalizing it, we hit a difficult problem.

This is sort of one bug and sort of 3 bugs. I joined them to give the maintainers flexibility in how they wanted to respond without losing their individual motivations:

1. There's no way to set timeouts on requests to `sever_metadata_url` a

[2022-04-11 21:23] jmhodges-color commented on #451
To be clear: we're open to providing some patches (balanced against our other tradeoffs), but the design work seems like it needs maintainer thought to be accepted

[2022-04-11 23:31] gem-aman opened #452 "Accept/Mark Skip SSL verification while fetching JWKs keys"
**Is your feature request related to a problem? Please describe.**

We have Okta as IDP which is serving self signed certs. While making the GET and POST requests to OKTA for code and token exchange, verify=False works fine. While the call made to authorize_access_token requests for JWKs which has no way to skip SSL verification even if it passed while registering the app.

**Describe the solution

[2022-04-12 14:40] lepture commented on #451
## 1. timeout issue

There is a `client_kwargs` parameter, but it is not used in `.request` method. This need to be fixed. But all requests will share the same `client_kwargs`. I'll fix this.

## 2. meta requests

This is not a big thing, because those meta data will be cached on instance. If you don't recreate the instance every time, it won't send too many requests to meta endpoint.

## 3. addit

[2022-04-12 14:43] lepture commented on #441
Hi, I've seen such an issue somewhere, it was caused by session not set properly. Can you check your session based on secure cookie? Just check if the server can get the session value, and if the browser contains those session data.

[2022-04-13 18:52] rusnyder commented on #400
Sorry in advance for commenting on a closed ticket, but I just stumbled across this when upgrading to Authlib 1.x and found that the API change for `parse_id_token` wasn't mentioned in either the Changelog (https://docs.authlib.org/en/latest/changelog.html) or in the "1.x breaking changes" guide (https://gist.github.com/lepture/506bfc29b827fae87981fc58eff2393e).

I was wondering if it made sense t

[2022-04-22 04:00] brettdh commented on #422
This also seems to apply to the Django client, and I found this bit particularly cumbersome:

Per the docs, I could use `OAuth2Session` directly instead, but in doing so, I lose the auto-refresh.

[2022-04-24 03:22] djbeadle commented on #403
I had to use `us` instead of my sub region, `us-3`.

[2022-04-27 14:45] cloneluke commented on #448
@troyharvey how did you get around this?
https://github.com/lepture/authlib/issues/403

(happens after upgrading authlib)

[2022-04-27 14:56] troyharvey commented on #448
@cloneluke We made two changes.

1. Upgrade to authlib==1.0.1
2. In Airflow `webserver_config.py`, we added `remote_app. jwks_uri` to OAUTH_PROVIDERS.

[code]

[2022-04-28 14:59] cloneluke commented on #448
ah thanks @troyharvey , that makes sense now.

[2022-05-04 17:12] Fnordbert opened #455 "fetch_access_token() no longer raises OAuthError but HTTPError instead."
**Describe the bug**

A change introduced in 1.0.0 makes `fetch_access_token()` return a `requests.exceptions.HTTPError` instead of an `OAuthError`.
Tested in Flask integration.

**To Reproduce**

Run code equivalent to this in a working Flask config.
[code]
Both valid and invalid user/pwd works as expected in 0.15.5. Valid login works in 1.0.0, but invalid raises an HTTPError.
The error response

[2022-05-05 11:54] lepture commented on #455
Got it, it is raised by `resp.raises_for_status()`.

Thanks for the report.

[2022-05-06 12:26] wwwald commented on #315
Here is a link to the current draft spec: [https://datatracker.ietf.org/doc/html/draft-ietf-oauth-dpop-08](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-dpop-08)

The Solid ecosystem is heavily, heavily based on this and a reference Python implementation would be great to boost Python implementations against Solid.

No chance of picking this up again?

[2022-05-07 10:16] lepture commented on #315
I'm currently working on Mistune v3. I'll take my open source time into this feature after the release of Mistune v3.

[2022-05-09 23:41] mcepl opened #456 "Two tests/jose/test_jwe.py tests failing"
While packaging this package for openSUSE we try to start running the testsuite during the packaging (so that we may catch some unexpected failure to build package correctly) and when running `tests/jose` I got this:

[code]

[Complete build log](https://github.com/lepture/authlib/files/8655846/_log.txt) with all details of packages used and steps taken to reproduce.

 - OS: openSUSE/Tumbleweed as

[2022-05-12 10:50] Atheuz opened #457 "header kwarg removed from 1.0.0, present in 0.15.5"
**Describe the bug**

In 0.15.5, the initializer and sign method for class ClientSecretJWT looked like this:

[code]

See here: https://github.com/lepture/authlib/blob/v0.15.5/authlib/oauth2/rfc7523/auth.py#L30

In 1.0.0+, the same looks like this:

[code]

See here: https://github.com/lepture/authlib/blob/v1.0.1/authlib/oauth2/rfc7523/auth.py#30

The `header` kwarg has disappeared. I was using th

[2022-05-12 12:23] lepture commented on #456
It is working well with GitHub actions. I'll need to split test_jwe.py to several files.

[2022-05-14 20:48] Olney1 opened #458 "Please put the main pip install command on the top left of the web page!"

[2022-05-16 12:46] jaap3 opened #459 "Provide a UserInfo endpoint implementation"
I've succesfully implemented an OAuth2/OIDC provider using authlib. But now stumbled upon a issue where a clients is not able to actually use the id_token (in addition to the access token, it can only use one token at a time). This shouldn't be an issue, as there's always the userinfo endpoint that can be read using the access token (or so I tought). I looked into adding the userinfo endpoint, but

[2022-05-16 20:06] papb commented on #247
Hello @lepture @jorgecarleitao, can you further clarify this please?

For a moment, I was still thinking the same as written by @jorgecarleitao:

However, after [this](https://github.com/lepture/authlib/issues/247#issuecomment-652411341), my current understanding changed to:

Is my new understanding correct?

[2022-05-17 05:03] relsunkaev opened #460 "PEP-484 Type Hints"
**Is your feature request related to a problem? Please describe.**

We use python with strict typing at our organization which means we have to add a bunch of "type: ignore" comments wherever this library is used. Adding types would make working with this library much easier and require much less context switching between the docs and the editor thanks to autocomplete.

**Describe the solution you

[2022-05-17 05:07] relsunkaev opened #461 "Drop support for Python 3.6"
Python 3.6 is EOL and considering this library focuses on security, it should probably discourage its use.

[2022-05-25 06:31] dklimpel opened #462 "Exception if JWK set `kid` in single key and JWS does not specify `kid`"
**Describe the bug**

This issue is related to #222
* `kid` is optional in JWK, [RFC7517](https://datatracker.ietf.org/doc/html/rfc7517#section-4.5)
* `kid` is optional in JWS header, [RFC7515](https://datatracker.ietf.org/doc/html/rfc7515#section-4.1.4)

If JWKS only one key specifies and the JWS header has no `kid` specified the following behaviour occurs:
* If key has no `kid` `jwt.decode` find

[2022-06-03 08:33] bjoernmeier opened #464 "httpx_client.oauth2_client.AsyncOAuth2Client.stream signature does not match httpx._client.AsyncClient.stream"
**Describe the bug**

The method `httpx._client.AsyncClient.stream` is an asynccontextmanager and can be used like this:
[code]

The method `httpx_client.oauth2_client.AsyncOAuth2Client.stream` is not a asynccontextmanager and must be used like this:
[code]
You can see there is an `await` required as `client.stream()` is not an asynccontextmanager but returns an Awaitable, which has to be awaited

[2022-06-09 13:47] #464 closed

[2022-06-09 13:49] #461 closed

[2022-06-14 06:10] cbscsm opened #466 "Support manually parsed code&state parameter for `authorize_access_token`"
**Is your feature request related to a problem? Please describe.**

For now, `authorize_access_token` directly parses the parameters of GET/POST request and process it.
I can't reuse only "processing" part without "parsing(deserialize)" part.

I have custom redirect endpoint using DRF's POST method.
This endpoint is requested by our Frontend(actual OAuth2.0 redirected page).
I use custom context k

[2022-06-14 16:43] relsunkaev commented on #461
I was going off of the "Authlib is compatible with Python3.6+" statement in the README.

[2022-06-22 09:25] 11philip22 opened #468 "oauth 1 not working with httpx"
i am currently making oauth 1 signed requests using the `requests-oauthlib` library.
[code]
Using this i can successfully make oauth 1 requests. But I need http 2 and would like to use async io. Thats why i am trying to switch to `httpx` with `authlib`.
[code]
With `requests-oauthlib` i can make signed requests without a problem. But when i try to do the same with `httpx` i get this response:
[cod

[2022-06-23 08:25] 11philip22 commented on #339
I have the same issue. But setting `client.auth.realm` does not seem to work for me. It sets the oauth key in the header but my authentication still fails......

[2022-06-30 15:25] lepture commented on #376
@oribs1 the saved URI is `callback/redirect`. Also, you can use `cache` instead of session cookie.

[2022-07-02 19:31] #444 closed

[2022-07-02 22:59] rmblau commented on #376
I also experience this issue with the latest version of Authlib and Google auth. This happens when I am testing on my phone and I go from mobile to desktop view as well as occasionally with my laptop, depending on how many times I re-auth.

[2022-07-25 13:57] RafalSkolasinski opened #474 "Self-Signed Certificate instructions needs an update"
[Documented](https://docs.authlib.org/en/latest/client/requests.html?highlight=verify#self-signed-certificate) way of dealing with self signed certificates by setting `CURL_CA_BUNDLE=""` env variable will not work with `requests` from [version 2.28.0](https://requests.readthedocs.io/en/latest/community/updates/#release-history) onward due to

PR https://github.com/psf/requests/pull/6074 that addre

[2022-07-25 22:08] rcludwick opened #475 "License Confusion"
At work, there's confusion around the license.  It looks like it's open source BSD license, but the website says the it's BSD only for open source projects.  I believed that's been fixed in the repo, but not the website.

I believe two things will solve this.

1.  Remove the commercial license from the repo and move it to the website or clarify the license is for commercial support only.
2.  Clari

[2022-07-25 22:22] bjmc commented on #475
I know developers don't always control the purse strings, but IMHO if your company is making money using free software, you should just pony up for a commercial license to support the authors of that software. Getting cheap about this stuff is how you wind up with [two part-time devs maintaining core infrastructure](https://www.buzzfeed.com/chrisstokelwalker/the-internet-is-being-protected-by-two-

[2022-07-25 23:03] rcludwick commented on #475
@bjmc

I think you're absolutely spot on here.  And that's a conversation that needs to happen with managers, not typically the devs -- because as you say, we don't hold the purse strings -- and I certainly don't here.

But as I understand the license terms of this project, purchasing of commercial support is not required for commercial use.  And that's what I want clarified.

[2022-07-27 01:33] lepture commented on #475
As said on readme:

No confusion from readme.

[2022-07-27 17:49] rcludwick commented on #475
1.  We're not creating our own closed source OAuth provider.   We're using the client functionality.    For an oauthlib client $1000/yr is too much.

2.  The website says this:

Authlib Licenses
Authlib offers two licenses, one is BSD for open source projects, one is a commercial license for closed source projects.

https://docs.authlib.org/en/latest/community/licenses.html

So license lawyers rea

[2022-08-07 16:33] indepndnt opened #477 "DecodeError use is inconsistent with api of AuthlibBaseError"
**Describe the bug**

It appears that everywhere that `authlib.jose.errors.DecodeError` is raised, it is raised as e.g. `raise DecodeError('message')`. Due to the API of `AuthlibBaseError` being `(error, description, uri)`, this overwrites the short-string error code of DecodeError.

**Error Stacks**

[code]

**To Reproduce**

[code]

**Expected behavior**

The last line of the traceback to read `

[2022-08-07 21:30] haggen opened #478 "Does the Starlette integration store a dict only to try and parse it as JSON?"
See https://github.com/lepture/authlib/blob/10cec2518fe0cc275897f12ae3683d4823f82928/authlib/integrations/starlette_client/integration.py#L19

It tris to parse a JSON string. But a few lines below cache data is set as a simple dict.

https://github.com/lepture/authlib/blob/10cec2518fe0cc275897f12ae3683d4823f82928/authlib/integrations/starlette_client/integration.py#L39

Base framework class as ref

[2022-08-09 13:23] #478 closed

[2022-08-10 16:58] zeha opened #482 "flask: _app_ctx_stack is deprecated"
**Is your feature request related to a problem? Please describe.**

Flask 2.2 has deprecated `app_ctx_stack`.

**Describe the solution you'd like**

flask_client integration should ideally load without deprecation warnings.

**Describe alternatives you've considered**

None yet.

**Additional context**

https://flask.palletsprojects.com/en/2.2.x/changes/?highlight=_app_ctx_stack

[code]

[2022-08-18 16:44] jeffsawatzky commented on #482
Would be nice to have this fix back ported to 0.15 as well since we are currently on that and it will take some effort to upgrade to v1.0 (with the breaking changes there)

[2022-08-18 18:26] pernydev opened #483 "authlib.jose.errors.InvalidClaimError: invalid_claim: Invalid claim "iss""
I'm building an oauth2 client with Flask and Authlib. My code to register the oauth is:
[code]

And my /authorize endpoint looks like this:
[code]

But I am getting the error
[code]

[2022-08-20 08:04] lepture commented on #483
Not sure what's the version of your Authlib. But I've just tried https://github.com/authlib/demo-oauth-client/tree/master/flask-google-login and it works well.

Please check the demo.

[2022-08-20 08:04] #483 closed

[2022-08-22 13:58] Fnordbert commented on #455
For what it's worth, the change in `oauth2/client.py` solved the issue for me.

[2022-08-22 15:35] lorenmh commented on #376
Some info here, I solved it for myself, leaving this here in case anyone needs it.

The issue seems to originate because the "state" the auth provider provides mismatches the "state" that _authlib tries to retrieve from the session_.

ie, authlib generates a "state" string, then it stores it in the Flask session:
`session["_state_foo_bar"] = "some_state_string"`

It puts the state string into a qu

[2022-08-23 12:02] #455 closed

[2022-08-30 14:48] cariaso opened #485 "require_oauth.acquire imposes a memory limit"
https://github.com/lepture/authlib/blob/169c7dcfc47478c8d55553cc95fb0f5578162b77/authlib/integrations/flask_oauth2/resource_protector.py#L73

`require_oauth.acquire`  cannot be used to protect large POSTs, where the data will be streamed, because the usage of `_req.data` on line 73 fills memory. Replacing `_req.data` with a simple `None` seems to allow the correct result to be computed, but damage

[2022-09-07 13:44] mr-haseeb opened #486 "@lepture still getting this error"
@lepture  Hi there! I've tried the 1.0.0 version just now, and it seems the issue persists with Google Oauth2.

[code]

My stacktrace :

[code]

_Originally posted by @sorasful in https://github.com/lepture/authlib/issues/376#issuecomment-1073074610_

[2022-09-08 15:27] SleeveShirtholes opened #487 "After getting Access Token apps hangs and will not redirect"
**Describe the bug**

After getting the access_token using authorize_access_token() my app hangs and will not redirect to another route.

**Error Stacks**

[code]
**To Reproduce**

A minimal example to reproduce the behavior:

Hit the login route, login with SSO provider, then app just hangs and doesn't redirect as expected.

**Expected behavior**

I would expect that after logging in with the SSO

[2022-09-08 17:13] SleeveShirtholes commented on #487
If anybody stumbles on this....I figured out that its nothing to do with Authlib...when redirecting it was redirecting to http rather then https which is why it wouldn't complete. The fix was simply adding _scheme="https" and _external=True to the url_for().

[2022-09-08 17:13] #487 closed

[2022-09-10 01:58] bradbase commented on #441
I am reasonably sure this is a bug.

I am using Django as a client against a sever that's not Google, Twitter or Facebook and I'm getting CSRF session mismatch errors when calling `authorize_access_token()`.

In my case this appears to be coming from `framework.get_state_data()` as it is looking for a key in this form `f'_state_{self.name}_{state}'` when `request.session` doesn't have a key in tha

[2022-09-10 11:27] bradbase commented on #441
for later reference, I used the instructions here to trigger the above scenario.

https://docs.authlib.org/en/latest/client/django.html

[2022-09-12 06:35] lepture commented on #441
@bradbase here is the demo for django: https://github.com/authlib/demo-oauth-client/tree/master/django-google-login

It works well

[2022-09-12 06:37] lepture commented on #486
Please test with https://github.com/authlib/demo-oauth-client

[2022-09-12 06:37] #486 closed

[2022-09-12 14:08] bradbase commented on #441
@lepture Thank you.

Your example looks like it would work very well but it's optimised for logging against Google and I need to auth against Xero.

Xero has particular needs for its header and, as mentioned above, calls "state", "state". I have not seen a way to configure authlib finely enough to succeed.

Cheers

[2022-09-14 08:04] alonbl opened #489 "Missing v1.1.0 tag"
Hi,
I see there is a new release but no tag and no release notes. Can you please fix?
Thanks!

[2022-09-18 12:15] lepture commented on #489
Hi, there are security fixes in 1.1.0, I'll push the code soon.

[2022-09-19 03:02] lepture commented on #489
code is updated

[2022-09-19 03:02] #489 closed

[2022-09-19 15:08] elaamrani opened #490 "OAuth1 fetch_request_token fails with additional Kwargs"
**Describe the bug**

I tried to initiate an Oauth1 session. The request_token method requires some parameters that I supply to the Oauth1 session.
Calling fetch_request_token with oauth_callback='oob' raises an error.

**Error Stacks**

[code]

**To Reproduce**

[code]

**Expected behavior**

[code]
**Environment:**

 - OS: python:3.9-alpine3.13
 - Python Version: 3.9
 - Authlib Version: 1.1.0

*

[2022-09-19 17:36] elaamrani opened #491 "Adding extra authorization header params to fetch_request_token"
My OAuth provider has OAuth1. For `fetch_request_token` method, the provider requires an extra authorization header parameter `oauth_callback="oob"` like the following:

[code]

Do you please know how to add that automatically with Authlib?

[2022-09-20 19:21] JCapriotti opened #492 "Failed request error handling issue"
**Describe the bug**

There was a change in behavior from fixing #455. I don't know that it is a bug, but perhaps some clarification around request error handling is needed.

Previously if a request was not successful, `fetch_token` (and other methods) would raise an `HTTPError` from `requests`.

Currently, there's two questionable error scenarios for a request that fails:
* If the request returns

[2022-09-23 16:17] elmanm opened #493 "Use Cookies in Resource Protector"
**Is your feature request related to a problem? Please describe.**

There does not seem to be a way to use the ResourceProtector with the web application flow (login + redirect) because it uses the Authorization header.

**Describe the solution you'd like**
I would like to be able to use a ResourceProtector to decorate views that are authed using a web app flow.
Ideally the ResourceProtector would

[2022-09-25 06:43] lepture commented on #468
I'm not sure if you are using the library correct. Here is the documentation:

- https://docs.authlib.org/en/latest/client/oauth1.html
- https://docs.authlib.org/en/latest/client/httpx.html

We have a demo with starlette framework, which is using the httpx oauth client. It works well: https://github.com/authlib/demo-oauth-client/tree/master/starlette-twitter-login

I can not guess what is wrong wi

[2022-09-25 06:54] lepture commented on #491
Have you tried to pass `redirect_uri="oob"`?

[2022-09-25 06:58] lepture commented on #493
I don't quite understand your question. The OAuth spec has no definition for handling the cookies. I think you've already known your answers, you can always subclass ResourceProtector to define your own way of authentication.

[2022-09-25 06:58] #493 closed

[2022-09-25 06:59] lepture commented on #485
fixed in https://github.com/lepture/authlib/commit/3c34fec6bdd1500e83b5ceb3a142a79ee0e00a8b

[2022-09-25 06:59] #485 closed

[2022-09-25 07:00] lepture commented on #482
fixed in https://github.com/lepture/authlib/commit/cd66b369d141ba817b8ef0b760fae99f74b8cd86

[2022-09-25 07:02] lepture commented on #466
In your case, why not using `OAuth2Session` directly? https://docs.authlib.org/en/latest/client/oauth2.html

The framework integration will keep its implementation for common usage. If you want more flexible, you can always use the low-level clients.

[2022-09-25 07:02] #466 closed

[2022-09-25 07:05] lepture commented on #468
My guess is that you need to pass `realm` in `OAuth1Client` or `OAuth1Client.fetch_request_token`.

[2022-09-25 07:05] #468 closed

[2022-09-26 09:35] elmanm commented on #493
I see, but I don't see how to use the resource protector with the login web application flow. The provider returns the token that the client should then store, but the resource protector always looks in the headers? Do I need to subclass the resource protector for this flow to work?

[2022-09-27 07:34] TimScriptov opened #494 "JWE"
How use:

{"alg": "A256KW", "enc": "A256GCM"}

[2022-09-27 07:49] lepture commented on #494
We don't accept questions here. Please read the documentation: https://docs.authlib.org/en/latest/jose/jwe.html

[2022-09-27 07:49] #494 closed

[2022-09-27 19:58] otryshko opened #495 "create a copy of DEFAULT_HEADERS for compliance hook"
**Is your feature request related to a problem? Please describe.**

In the refresh_token function of `oauthlib/oauth_client.py`, the headers are set to DEFAULT_HEADERS, and then `refresh_token_refresh` compliance hook is called. If compliance hook modifies the headers pointing to DEFAULT_HEADERS, it would taint global DEFAULT_HEADERS and all consequent calls would be using altered version of heade

[2022-10-02 09:25] LaundroMat commented on #84
I have the same issue using the Starlette integration.

[2022-10-13 15:43] marcrleonard opened #497 "`nonce` is not checked in the validate() method of a jwt"
I'm curious why nonce is not not checked in the validate method. Is it because that is created as part of the token request? Should nonce then be checked manually?

[2022-10-14 12:30] asiffer opened #498 "`OAuth2Request` object does not support list in query params"
**Describe the bug**

[Maybe this behavior is normal] Array-like query params (like `?scope=read&scope=write`) are not supported when creating `OAuth2Request` object.

**To Reproduce**

A minimal example to reproduce the behavior:
[code]

**Expected behavior**

[code]

**Environment:**

 - OS: Fedora 36
 - Python Version: `3.10.7`
 - Authlib Version: `1.1.0`

**Additional context**

[code]

[2022-10-15 08:03] lepture commented on #497
`nonce` is not a defined claim in JSON Web Token. I guess you are parsing a token from OpenID Connect token, if so, you can pass `claims_cls=IDToken` in `jwt.decode` method.

The `IDToken` claim class is defined in `authlib.oidc.core.IDToken`.

[2022-10-15 08:03] #497 closed

[2022-10-15 08:15] #482 closed

[2022-10-15 09:36] lepture commented on #495
Thanks for your feedback. I've fixed it in master code.

[2022-10-15 09:36] #495 closed

[2022-10-15 09:37] lepture commented on #492
@JCapriotti thanks for your report. It should be fixed in master code.

[2022-10-15 09:48] lepture commented on #490
The parameter should be `redirect_uri='oob'`.

[2022-10-15 09:48] #490 closed

[2022-10-15 09:51] lepture commented on #490
for `oob`, it means that you don't have a redirect_uri, in this case, you should use `OAuth1Session` directly.

[2022-10-20 18:56] azmeuk opened #499 "RFC7592 Dynamic Client Registration Management Protocol"
The [RFC7592 Dynamic Client Registration Management Protocol](https://www.rfc-editor.org/rfc/rfc7592) seems to be [implemented in authlib](https://github.com/lepture/authlib/blob/169c7dcfc47478c8d55553cc95fb0f5578162b77/authlib/oauth2/rfc7592/endpoint.py) but there is no reference in the documentation for this spec, nor unit test, and the README indicate that the spec is not implemented.

Is some

[2022-10-24 10:21] azmeuk commented on #292
For the record, the specification is not a draft anymore since september 12th

[2022-10-25 18:23] azmeuk opened #500 "OpenID Connect RP-Initiated Logout"
The [OpenID Connect RP-Initiated Logout](https://openid.net/specs/openid-connect-rpinitiated-1_0.html) is not a draft anymore.
I suggest implementing helpers for this specification in authlib.

Related issues #292 #560 #561

[2022-10-25 19:41] MaggieWalker commented on #462
I am seeing this same behavior, as well

[2022-10-26 07:48] cristianourban opened #502 "Login failed: missing_claim: Missing "nonce" claim"
Hi,
is there a way to disable the nonce validation on client-side? I ask this question because, if I understand correctly, that parameter is optional, differently from the state which is recommended.

We have a custom authorization server which uses the state with the authorization code grant flow and the nonce with the implicit grant flow. So, the two parameters (state and nonce) are mutually exc

[2022-10-30 22:08] azmeuk commented on #500
@lepture I might be interested in tackling this one, however before I go too far I would appreciate some insight on a matter. The spec advise to *ask things to the users*:

So, in some cases a confirmation is needed from the end-users. However this is not the responsibility of authlib to display a confirmation page. I suppose authlib can delegate this and let developers display a confirmation form

[2022-11-01 12:57] lepture commented on #423
v0.15.6 released.

[2022-11-01 12:57] #423 closed

[2022-11-01 12:58] lepture commented on #339
Already fixed.

[2022-11-01 12:58] #339 closed

[2022-11-01 12:59] lepture commented on #331
closed in favor of https://github.com/lepture/authlib/issues/292

It will be implemented in v1.3

[2022-11-01 12:59] #331 closed

[2022-11-01 12:59] #370 closed

[2022-11-02 18:00] shreve opened #507 "OAuth2Mixin needlessly overwrites client.redirect_uri when creating authorization url"
**Describe the bug**

When I configure my OAuth app, I provide client_kwargs so that I don't need to supply them at the point of use. In my particular case, I use `scope` and `redirect_uri` because these never change. I used to supply them at the point of use, but after a refactoring, I realized it was cleaner to do it this way.

After I switched, I stopped getting valid authorization URLs. I disc

[2022-11-03 18:27] jeffsawatzky opened #508 "IntrospectionToken doesn't seem to implement TokenMixin"
**Describe the bug**

The [IntrospectionToken](https://github.com/lepture/authlib/blob/master/authlib/oauth2/rfc7662/models.py#L4) class doesn't seem to implement the [TokenMixin](https://github.com/lepture/authlib/blob/9ae4db94b10767452da55183d265a8a2acf4d441/authlib/oauth2/rfc6749/models.py#L174) in it's current form, and looks like it still implements the older 0.15 TokenMixin

[2022-11-05 08:34] #499 closed

[2022-11-09 16:29] Martin-Lar commented on #451
Hello, @lepture we're having similar issues with timeouts when calling `load_server_metadata`, more specifically, we have no way to add a timeout on `OAuth2Session.request` in this case. Would you be open to a PR on this?

[2022-11-13 16:15] jeffsawatzky commented on #482
@lepture Thanks for the fix! Any idea when 1.2.0 will be released with this?

[2022-11-17 01:41] Tamupiwa commented on #305
Thanks! Just encountered this very issue. Are you able to share the custom permission class you wrote to solve this?

[2022-11-17 09:36] thatguysimon commented on #305
@Tamupiwa I actually ended up writing a custom DRF Authentication class for authentication validation, and a custom permission class for validating access to a specific endpoint/resource.

(Please note this was based on authlib from 2 years ago.. I don't know what changes were made since then)

I can't share the whole thing but basically it was something like this:

A custom ResourceProtector with

[2022-11-23 09:58] cristianourban commented on #502
I would like to provide more details on this issue.

Currently, the authorization request is something like this (using a PHP print_r() on a dummy URL):

`Array ( [response_type] => code [client_id] => client-test [redirect_uri] => https://<indico_test:IP>/multipass/authlib/rap-sso [scope] => openid email profile read:gms read:rap [state] => <the state> [nonce] => <the nonce> ) `

I think there sh

[2022-11-25 15:06] alexazevedo opened #511 "Invalid key_op "sign" for public key"
**Describe the bug**

After upgrading from 0.15 to 1.1.0, the jwt.encode method started to fail with the following error: ```ValueError: Invalid key_op "sign" for public key```.

I didn't modify the public key and didn't change anything on the code. Just upgraded from 0.15 to 1.1.0
**Error Stacks**

[code]

**To Reproduce**

Some details and parameters' values
header: ``` {'alg': 'ES256'}```
paylo

[2022-11-28 07:43] lepture commented on #511
This is a security improvement. You are absolutely using `jwt.encode` wrong, when `encode` a token, you should use a **private key**.

[2022-11-28 07:44] #511 closed

[2022-11-28 09:41] lexabug commented on #511
@alexazevedo your `jwt_dict` represents a public key. When you covert your JWK into a dict (`key.as_dict()`) you should specify the `is_private` parameter in order tell which type of the key you need: private or public. By default it `as_dict()` returns public key representation.

[2022-11-29 14:28] ahipp13 commented on #376
This issue still persists using Azure OAuth 2.0 on Airflow 2.4.3 and these tool versions:

Python                             3.8.15
Authlib                                  1.1.0
Flask                                    2.2.2
Flask-AppBuilder                         4.1.4
Flask-Babel                              2.0.0
Flask-Caching                            2.0.1
Flask-JWT-Extended

[2022-11-29 17:13] v3ss0n commented on #247
I am wondering why there is still a commercial license . If thats not the case then it should be removed.

[2022-11-29 17:15] bjmc commented on #247
Many companies choose to financially support open source projects in order to help sustain their development or to receive direct support or benefits.

[2022-11-29 17:20] v3ss0n commented on #247
Some orgs , especially big-tech are very serious on licenses and this would cause this great lib to get not adopted. I think you can remove and still offer commercial license by placing a link , to the webpage ?  That way it will be a lot more easier for companies to adopt. Now it sound like the are are some catches inside,

[2022-11-29 17:23] bjmc commented on #247
If your lawyers are skittish, even more reason for them to buy a commercial license and remove any possibility of problems.

[2022-11-29 17:29] v3ss0n commented on #247
1 . Not  a company
2 . We are choosing an auth library in an opensource  webframework and maintainers wants an auth solution that is license compatible , and adoptable to the mass.

[2022-11-29 17:31] bjmc commented on #247
https://github.com/lepture/authlib/blob/master/LICENSE

:man_shrugging:

[2022-11-29 17:36] v3ss0n commented on #247
i aware of that , there are 2 license .
Existance of this already is a red flag for most companies.
https://github.com/lepture/authlib/blob/master/COMMERCIAL-LICENSE

[2022-11-29 17:40] bjmc commented on #247
I don't know what to tell you. You're asking @lepture to give up some of their livelihood to perhaps make some corporate attorneys somewhere more comfortable about profiting from their work without contributing back.

That's a decision for @lepture to make for themselves, but personally I think it is very audacious for you ask.

[2022-11-29 17:56] v3ss0n commented on #247
All i wanted to point out is :
- its confusing  to have a commercial licenses
- @lepture  can put gh sponsor or many other crowd funding setups.
- also placing a link to website for commercial support license is a better idea  instead of an extra license.